Repository cyrusxzw/new-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "**/*.{js,ts,tsx}": [
    "eslint --fix --ignore-path .eslintignore --config .eslintrc",
    "jest --findRelatedTests --coverageThreshold '{}'"
  ],
  "**/*.css": [
    "stylelint --fix --allow-empty-input"
  ]
}

chore: rebuild for react 17
  dist/index.cjs.js.map
  dist/index.esm.js.map
Due: none

feat: migrate BynderWidget to TS
  src/components/BynderWidget/BynderWidget.spec.tsx
  src/components/BynderWidget/BynderWidget.tsx
  src/components/BynderWidget/BynderWidget.types.ts
  src/components/BynderWidget/__snapshots__/BynderWidget.spec.tsx.snap
  src/components/BynderWidget/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.1 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

fix(con-136): change display to inline for bodycopy a tags
  package-lock.json
  src/components/BodyCopy/BodyCopy.module.css
Due: prettier --write, stylelint --fix --allow-empty-input

chore(release): 1.3.0-develop.2 [skip ci]
  dist/styles.css
Due: stylelint --fix --allow-empty-input

ci: using checkout v1 and npm cache to avoid weird build issues
  .github/workflows/push.yml
Due: none

chore: combine tag push workflows
  .github/workflows/deploy-gh-pages.yml
  .github/workflows/tag-push.yml
  .github/workflows/update-webui.yml
Due: none

chore: enable running manually
  .github/workflows/tag-push.yml
Due: none

chore(ae-241): migrate modal component to typescript
  scripts/componentBoilerplate/assets/Component.types.ts
  src/components/Modal/Modal.fixture.ts
  src/components/Modal/Modal.spec.tsx
  src/components/Modal/Modal.stories.mdx
  src/components/Modal/Modal.tsx
  src/components/Modal/Modal.types.ts
  src/components/Modal/components/ModalBody/ModalBody.fixture.js
  src/components/Modal/components/ModalBody/ModalBody.fixture.ts
  src/components/Modal/components/ModalBody/ModalBody.spec.tsx
  src/components/Modal/components/ModalBody/ModalBody.tsx
  src/components/Modal/components/ModalBody/ModalBody.types.ts
  src/components/Modal/components/ModalBody/__snapshots__/ModalBody.spec.tsx.snap
  src/components/Modal/components/ModalBody/index.ts
  src/components/Modal/index.ts
  src/components/Quote/Quote.stories.mdx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(ae-241): remove children prop type as fc is being used
  src/components/Modal/Modal.types.ts
  src/components/Modal/components/ModalBody/ModalBody.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(ae-241): extend and share modal and modal body props
  src/components/Modal/Modal.types.ts
  src/components/Modal/components/ModalBody/ModalBody.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-143): rebuild mobile styles
  dist/styles.css
  package-lock.json
Due: prettier --write, stylelint --fix --allow-empty-input

chore: revert storybook font path
  .storybook/storybook.module.css
Due: stylelint --fix --allow-empty-input

chore: migrate js files in migrated components
  src/components/AddToCartButton/__mocks__/AddToCartButton.onClick.ts
  src/components/AddToCartButton/index.ts
  src/components/Image/index.js
  src/components/Image/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: removed commented out styles
  src/components/HeroBanner/HeroBanner.fixture.tsx
  src/components/HeroBanner/HeroBanner.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore: remove unused rollup TS plugin
  package-lock.json
  package.json
Due: prettier --write

chore(con-143): remove references to hero and top offset in media with content
  src/components/MediaWithContent/MediaWithContent.js
  src/components/MediaWithContent/MediaWithContent.module.css
  src/components/MediaWithContent/MediaWithContent.stories.mdx
  src/components/MediaWithContent/components/Content/Content.js
  src/components/MediaWithContent/components/Content/Content.module.css
  src/components/MediaWithContent/components/Media/Media.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore: remove unnecessary testing library types
  package-lock.json
  package.json
Due: prettier --write

chore: update SB to latest
  package-lock.json
  package.json
Due: prettier --write

chore(con-143): refactor types for hero banner
  .storybook/components/StorybookNavHeader/StorybookNavHeader.js
  .storybook/components/StorybookNavHeader/StorybookNavHeader.module.css
  src/components/HeroBanner/HeroBanner.tsx
  src/components/HeroBanner/HeroBanner.types.ts
  src/components/HeroBanner/components/HeroBannerContent/HeroBannerContent.types.ts
  src/components/HeroBanner/components/HeroBannerMedia/HeroBannerMedia.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

fix: refactor css module extends
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  src/components/Paragraph/Paragraph.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

fix(quote): capture and use the ref argument
  src/components/Quote/Quote.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: remove unused variable
  .eslintrc
  src/components/HeroBanner/HeroBanner.spec.tsx
  src/components/HeroBanner/HeroBanner.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.4 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: migrate HyperLink to TS
  src/components/Hyperlink/Hyperlink.spec.tsx
  src/components/Hyperlink/Hyperlink.tsx
  src/components/Hyperlink/Hyperlink.types.ts
  src/components/Hyperlink/Hyperlink.utils.ts
  src/components/Hyperlink/__snapshots__/Hyperlink.spec.tsx.snap
  src/components/Hyperlink/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.5 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: migrate Carousel to TS
  src/components/Carousel/Carousel.fixture.ts
  src/components/Carousel/Carousel.spec.tsx
  src/components/Carousel/Carousel.tsx
  src/components/Carousel/Carousel.types.ts
  src/components/Carousel/Carousel.utils.tsx
  src/components/Carousel/__snapshots__/Carousel.spec.tsx.snap
  src/components/Carousel/components/CarouselIntroduction/CarouselIntroduction.spec.tsx
  src/components/Carousel/components/CarouselIntroduction/CarouselIntroduction.tsx
  src/components/Carousel/components/CarouselIntroduction/CarouselIntroduction.types.ts
  src/components/Carousel/components/CarouselIntroduction/__snapshots__/CarouselIntroduction.spec.tsx.snap
  src/components/Carousel/components/CarouselIntroduction/index.ts
  src/components/Carousel/components/NextButton/NextButton.spec.tsx
  src/components/Carousel/components/NextButton/NextButton.tsx
  src/components/Carousel/components/NextButton/NextButton.types.ts
  src/components/Carousel/components/NextButton/__snapshots__/NextButton.spec.tsx.snap
  src/components/Carousel/components/NextButton/index.ts
  src/components/Carousel/components/Pagination/Pagination.spec.tsx
  src/components/Carousel/components/Pagination/Pagination.tsx
  src/components/Carousel/components/Pagination/Pagination.types.ts
  src/components/Carousel/components/Pagination/__snapshots__/Pagination.spec.tsx.snap
  src/components/Carousel/components/Pagination/index.ts
  src/components/Carousel/components/PreviousButton/PreviousButton.spec.tsx
  src/components/Carousel/components/PreviousButton/PreviousButton.tsx
  src/components/Carousel/components/PreviousButton/PreviousButton.types.ts
  src/components/Carousel/components/PreviousButton/__snapshots__/PreviousButton.spec.tsx.snap
  src/components/Carousel/components/PreviousButton/index.ts
  src/components/Carousel/components/Slide/Slide.spec.tsx
  src/components/Carousel/components/Slide/Slide.tsx
  src/components/Carousel/components/Slide/Slide.types.ts
  src/components/Carousel/components/Slide/__snapshots__/Slide.spec.tsx.snap
  src/components/Carousel/components/Slide/index.ts
  src/components/Carousel/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.6 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: re build
  dist/index.cjs.js.map
  dist/index.esm.js.map
Due: none

feat: migrate ConditionalWrapper to TS
  src/components/ConditionalWrapper/ConditionalWrapper.js
  src/components/ConditionalWrapper/ConditionalWrapper.spec.tsx
  src/components/ConditionalWrapper/ConditionalWrapper.tsx
  src/components/ConditionalWrapper/ConditionalWrapper.types..ts
  src/components/ConditionalWrapper/__snapshots__/ConditionalWrapper.spec.tsx.snap
  src/components/ConditionalWrapper/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.7 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: reconfigure eslintrc to run typescript eslint as priority
  .eslintrc
  setupTests.js
  src/components/HorizontalProductDisplayAccordion/components/AccordionProduct/AccordionProduct.js
  src/components/HorizontalProductDisplayAccordion/components/AccordionProduct/AccordionProduct.spec.js
  src/components/LinkButtonGroup/LinkButtonGroup.spec.js
  src/components/ProductCommerce/ProductCommerce.js
  src/components/ProductGridItem/ProductGridItem.js
  src/components/RadioGroup/RadioGroup.fixture.js
  src/components/Select/Select.fixture.js
  src/components/SubNav/SubNav.spec.js
  src/components/TextInputV2/TextInputV2.js
  src/components/TextOverFullWidthAsset/TextOverFullWidthAsset.spec.js
  src/components/Transition/Transition.spec.js
  src/compositions/DynamicForm/DynamicForm.spec.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: rebuild
  src/index.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: migrate Checkbox to TS
  src/components/Checkbox/Checkbox.spec.tsx
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/Checkbox.types.ts
  src/components/Checkbox/__snapshots__/Checkbox.spec.tsx.snap
  src/components/Checkbox/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.8 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(ae-218): migrate DefinitiList to TS
  src/components/DefinitionList/DefinitionList.fixture.ts
  src/components/DefinitionList/DefinitionList.js
  src/components/DefinitionList/DefinitionList.spec.tsx
  src/components/DefinitionList/DefinitionList.tsx
  src/components/DefinitionList/DefinitionList.types.ts
  src/components/DefinitionList/__snapshots__/DefinitionList.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.9 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-143): add the landing page header variation
  .storybook/components/StorybookNavHeader/StorybookNavHeader.module.css
  src/components/HeroBanner/HeroBanner.stories.mdx
  src/components/HeroBanner/HeroBanner.types.ts
  src/components/HeroBanner/components/HeroBannerContent/HeroBannerContent.module.css
  src/components/HeroBanner/components/HeroBannerContent/HeroBannerContent.tsx
  src/components/HeroBanner/components/HeroBannerMedia/HeroBannerMedia.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input
