Repository cyrusxzw/new-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "**/*.{js,ts,tsx}": [
    "eslint --fix --ignore-path .eslintignore --config .eslintrc",
    "jest --findRelatedTests --coverageThreshold '{}'"
  ],
  "**/*.css": [
    "stylelint --fix --allow-empty-input"
  ]
}

feat(con-116): rebuild
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-116): rebuild
  dist/index.cjs.js.map
  dist/index.esm.js.map
  src/utils/viewport/viewport.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(ae-263): add transition typings and rebuild
  dist/index.cjs.js.map
  dist/index.esm.js.map
  package-lock.json
  package.json
Due: prettier --write

feat(ae-263): type return value and rebuild
  dist/index.cjs.js.map
  dist/index.esm.js.map
  src/components/Transition/Transition.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(ae-263): remove explicit type
  dist/index.cjs.js.map
  dist/index.esm.js.map
  src/components/Transition/Transition.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-269): add logic and wrappers to accomodate a heading only carousel introduction
  src/components/Carousel/__snapshots__/Carousel.spec.tsx.snap
  src/components/Carousel/components/CarouselIntroduction/CarouselIntroduction.module.css
  src/components/Carousel/components/CarouselIntroduction/CarouselIntroduction.tsx
  src/components/Carousel/components/CarouselIntroduction/__snapshots__/CarouselIntroduction.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(con-269): rebuild
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat: remove paragraph component from introduction
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  src/components/Carousel/__snapshots__/Carousel.spec.tsx.snap
  src/components/Carousel/components/CarouselIntroduction/CarouselIntroduction.module.css
  src/components/Carousel/components/CarouselIntroduction/CarouselIntroduction.tsx
  src/components/Carousel/components/CarouselIntroduction/__snapshots__/CarouselIntroduction.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(ae-222): rename figure index file
  src/components/Figure/index.js
  src/components/Figure/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-269): re build and refactor
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  src/components/Carousel/components/CarouselIntroduction/CarouselIntroduction.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(ae-221): migrate DoubleMedia to TS
  src/components/DoubleMedia/DoubleMedia.fixture.ts
  src/components/DoubleMedia/DoubleMedia.js
  src/components/DoubleMedia/DoubleMedia.spec.tsx
  src/components/DoubleMedia/DoubleMedia.tsx
  src/components/DoubleMedia/DoubleMedia.types.ts
  src/components/DoubleMedia/__snapshots__/DoubleMedia.spec.tsx.snap
  src/components/DoubleMedia/components/MediaBlock/MediaBlock.tsx
  src/components/DoubleMedia/components/MediaBlock/MediaBlock.types.ts
  src/components/DoubleMedia/components/MediaBlock/index.ts
  src/components/DoubleMedia/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.22 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(ae-273): migrate useScript to TS
  src/customHooks/useScript/index.ts
  src/customHooks/useScript/useScript.spec.tsx
  src/customHooks/useScript/useScript.ts
  src/customHooks/useScript/useScript.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.23 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(ae-268): migrate useExecuteOnImpression to TS
  src/customHooks/useExecuteOnImpression/index.ts
  src/customHooks/useExecuteOnImpression/useExecuteOnImpression.spec.tsx
  src/customHooks/useExecuteOnImpression/useExecuteOnImpression.stories.tsx
  src/customHooks/useExecuteOnImpression/useExecuteOnImpression.ts
  src/customHooks/useExecuteOnImpression/useExecuteOnImpression.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.24 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(ae-269): migrate useHasMounted to TS
  src/customHooks/useHasMounted/index.ts
  src/customHooks/useHasMounted/useHasMounted.spec.tsx
  src/customHooks/useHasMounted/useHasMounted.stories.tsx
  src/customHooks/useHasMounted/useHasMounted.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.25 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(ae-270): migrate useImageTransition to TS
  src/customHooks/useImageTransition/index.ts
  src/customHooks/useImageTransition/useImageTransition.spec.tsx
  src/customHooks/useImageTransition/useImageTransition.ts
  src/customHooks/useImageTransition/useImageTransition.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.26 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(ae-272): migrate useOverflowHidden to TS
  src/customHooks/useOverflowHidden/index.ts
  src/customHooks/useOverflowHidden/useOverflowHidden.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.27 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(ae-271): migrate useOnScreen to TS
  src/customHooks/useOnScreen/index.ts
  src/customHooks/useOnScreen/useOnScreen.stories.tsx
  src/customHooks/useOnScreen/useOnScreen.ts
  src/customHooks/useOnScreen/useOnScreen.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.28 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(ae-274): migrate useWindowHasResized to TS
  src/customHooks/useWindowHasResized/index.ts
  src/customHooks/useWindowHasResized/useWindowHasResized.ts
  src/customHooks/useWindowHasResized/useWindowHasResized.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.29 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(ae-267): migrate useEscapeKeyListener to TS
  src/customHooks/useEscapeKeyListener/index.ts
  src/customHooks/useEscapeKeyListener/useEscapeKeyListener.spec.tsx
  src/customHooks/useEscapeKeyListener/useEscapeKeyListener.stories.tsx
  src/customHooks/useEscapeKeyListener/useEscapeKeyListener.ts
  src/customHooks/useEscapeKeyListener/useEscapeKeyListener.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: integrate test reporter from Quality
  .github/workflows/push.yml
Due: none

feat(con-116): update media block types
  src/components/DoubleMedia/components/MediaBlock/MediaBlock.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: initial setup
  dist/index.cjs.js.map
  dist/index.esm.js.map
  package-lock.json
  package.json
  rollup.config.js
  tsconfig.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(expose-type): change file type in config and remove unused styles
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  src/components/Accordion/Accordion.tsx
  src/components/Audio/__snapshots__/Audio.spec.tsx.snap
  src/components/Audio/components/AudioFooter/__snapshots__/AudioFooter.spec.tsx.snap
  src/components/Audio/components/SeekButton/SeekButton.tsx
  src/components/BodyCopy/BodyCopy.tsx
  src/components/BodyCopy/__snapshots__/BodyCopy.spec.tsx.snap
  src/components/Checkbox/Checkbox.tsx
  src/components/FullWidthHeroScroll/__snapshots__/FullWidthHeroScroll.spec.js.snap
  src/components/HeroBanner/components/HeroBannerMedia/HeroBannerMedia.tsx
  src/compositions/Footer/__snapshots__/Footer.spec.js.snap
  src/compositions/NewsletterSignUp/NewsletterSignUp.fixture.js
  src/compositions/NewsletterSignUp/__snapshots__/NewsletterSignUp.spec.js.snap
  tsconfig.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(expose-types): declare types source
  package.json
Due: prettier --write

feat(expose-types): add todo for product extract ts migration
  src/components/DefinitionListWithProductExtract/DefinitionListWithProductExtract.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: set value for commit hash and branch name for CC Quality
  .github/workflows/push.yml
Due: none

feat(consideration): new types in d ts
  dist/index.d.ts
  src/constants/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con): lock in react version
  package.json
Due: prettier --write

feat(con-116): extend sizes viewprots and add cl for testing
  src/components/Image/Image.types.ts
  src/components/Image/Image.utils.tsx
  src/components/Video/components/VideoPlayer/VideoPlayer.utils.ts
  src/constants/viewports.ts
  src/types/Viewport.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: rebuild
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'
