Repository cyrusxzw/new-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat: run the missed rebuild for heading prop type
  dist/components/Heading/index.d.ts
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js.map
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: rename todos
  dist/components/LinkButtonGroup/index.d.ts
  dist/components/SubNav/index.d.ts
  dist/index.d.ts
  src/components/LinkButtonGroup/LinkButtonGroup.types.ts
  src/components/SubNav/SubNav.types.ts
  src/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: add missing onClick prop to types in gel
  src/components/HeroBanner/HeroBanner.types.ts
  src/components/MediaWithContent/MediaWithContent.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.73 [skip ci]
  dist/components/HeroBanner/index.d.ts
  dist/components/MediaWithContent/index.d.ts
  dist/index.d.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: create more unique id prop
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/BodyCopy.js
  src/components/BodyCopy/BodyCopy.spec.tsx
  src/components/BodyCopy/BodyCopy.tsx
  src/components/FullWidthHeroScroll/__snapshots__/FullWidthHeroScroll.spec.js.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: dont pass if id is undefined
  src/components/BodyCopy/BodyCopy.tsx
  src/components/FullWidthHeroScroll/__snapshots__/FullWidthHeroScroll.spec.js.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(pur-324): pdp upsell isonscreen fn
  src/components/ProductDetailHeader/ProductDetailHeader.stories.mdx
  src/components/ProductDetailHeader/ProductDetailHeader.tsx
  src/components/ProductDetailHeader/ProductDetailHeader.types.ts
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.stories.mdx
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.tsx
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(pur-324): pdp upsell click fn
  src/components/ProductDetailHeader/ProductDetailHeader.stories.mdx
  src/components/ProductDetailHeader/ProductDetailHeader.tsx
  src/components/ProductDetailHeader/ProductDetailHeader.types.ts
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.tsx
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.types.ts
  src/components/ProductExtract/ProductExtract.tsx
  src/components/ProductExtract/ProductExtract.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(pur-324): build
  dist/components/ProductDetailHeader/index.d.ts
  dist/components/ProductDetailHeader/index.js
  dist/components/ProductExtract/index.d.ts
  dist/compositions/ProductDetail/index.js
  dist/customHooks/useExecuteOnImpression/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/BodyCopy.js
  dist/sharedChunks/ProductDetailHeader.js
  dist/sharedChunks/ProductExtract.js
  dist/sharedChunks/useExecuteOnImpression.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: install aesop-code-styles from npmjs
  .eslintrc
  .prettierrc.js
  .stylelintrc
  package-lock.json
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-512): add small src as img tag default
  src/components/Carousel/__snapshots__/Carousel.spec.tsx.snap
  src/components/Carousel/components/Slide/__snapshots__/Slide.spec.tsx.snap
  src/components/DoubleMedia/__snapshots__/DoubleMedia.spec.tsx.snap
  src/components/Figure/__snapshots__/Figure.spec.tsx.snap
  src/components/FullWidthHeroScroll/__snapshots__/FullWidthHeroScroll.spec.js.snap
  src/components/HeroBanner/__snapshots__/HeroBanner.spec.tsx.snap
  src/components/IconLink/__snapshots__/IconLink.spec.js.snap
  src/components/Image/Image.tsx
  src/components/Image/Image.utils.tsx
  src/components/Image/__snapshots__/Image.spec.tsx.snap
  src/components/ReadMore/__snapshots__/ReadMore.spec.js.snap
  src/components/TextOverFullWidthAsset/__snapshots__/TextOverFullWidthAsset.spec.js.snap
  src/components/Video/__snapshots__/Video.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: add tests to image util
  src/components/Image/Image.spec.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.75 [skip ci]
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Image.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: publish npm package on push to main branch (#494)
  .github/workflows/push.yml
  .npmrc
  .releaserc
  package-lock.json
  package.json
Due: prettier --write

chore(release): 1.8.0 [skip ci]
  package.json
Due: prettier --write

chore(release): 1.9.0-develop.1 [skip ci]
  package.json
Due: prettier --write

chore(release): 1.9.0 [skip ci]
  package.json
Due: prettier --write

docs: update README.md to align with npmjs publish
  README.md
Due: prettier --write

feat(con-126): add ref and onClick func for tracking
  src/components/FullWidthHeroScroll/FullWidthHeroScroll.js
  src/components/FullWidthHeroScroll/FullWidthHeroScroll.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.9.0-develop.2 [skip ci]
  dist/components/FullWidthHeroScroll/index.d.ts
  dist/components/FullWidthHeroScroll/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: collaps files in dist by default in GH
  .gitattributes
Due: none

feat(CON-453): convert TextInputV2 to TS
  src/components/TextInputV2/TextInputV2.spec.tsx
  src/components/TextInputV2/TextInputV2.tsx
  src/components/TextInputV2/TextInputV2.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

refactor(CON-453): address TODOs
  src/components/TextInputV2/TextInputV2.spec.tsx
  src/components/TextInputV2/TextInputV2.stories.mdx
  src/components/TextInputV2/TextInputV2.tsx
  src/components/TextInputV2/TextInputV2.types.ts
  src/compositions/DynamicForm/wrappers/TextField.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.9.0-develop.3 [skip ci]
  dist/components/TextInputV2/index.d.ts
  dist/components/TextInputV2/index.js
  dist/compositions/DynamicForm/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/TextInputV2.js
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: pass other props to button html
  src/components/Button/Button.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.9.0-develop.4 [skip ci]
  dist/components/Button/index.js
  dist/components/DialogBanner/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Button.js
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

fix: use the field's name as key
  src/compositions/DynamicForm/DynamicForm.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: convert DyanicForm to TS
  src/components/Checkbox/Checkbox.types.ts
  src/compositions/DynamicForm/DynamicForm.constants.js
  src/compositions/DynamicForm/DynamicForm.fixture.ts
  src/compositions/DynamicForm/DynamicForm.js
  src/compositions/DynamicForm/DynamicForm.spec.tsx
  src/compositions/DynamicForm/DynamicForm.stories.mdx
  src/compositions/DynamicForm/DynamicForm.tsx
  src/compositions/DynamicForm/DynamicForm.types.ts
  src/compositions/DynamicForm/component-map.js
  src/compositions/DynamicForm/validators/validators.spec.ts
  src/compositions/DynamicForm/validators/validators.ts
  src/compositions/DynamicForm/validators/validators.types.ts
  src/compositions/DynamicForm/wrappers/Checkbox.tsx
  src/compositions/DynamicForm/wrappers/Select.tsx
  src/compositions/DynamicForm/wrappers/TextField.tsx
  src/compositions/DynamicForm/wrappers/index.ts
  src/compositions/DynamicForm/wrappers/wrappers.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.9.0-develop.5 [skip ci]
  dist/components/Checkbox/index.d.ts
  dist/components/Select/index.d.ts
  dist/components/TextInputV2/index.d.ts
  dist/compositions/DynamicForm/index.d.ts
  dist/compositions/DynamicForm/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Select.types.d.ts
  dist/sharedChunks/TextInputV2.types.d.ts
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.10.0 [skip ci]
  package.json
Due: prettier --write

fix(TextInputV2): specify element TS type in event
  src/components/TextInputV2/TextInputV2.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: add isSameAs validation rule
  src/compositions/DynamicForm/DynamicForm.fixture.ts
  src/compositions/DynamicForm/DynamicForm.spec.tsx
  src/compositions/DynamicForm/DynamicForm.stories.mdx
  src/compositions/DynamicForm/DynamicForm.tsx
  src/compositions/DynamicForm/validators/validators.spec.ts
  src/compositions/DynamicForm/validators/validators.ts
  src/compositions/DynamicForm/validators/validators.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

fix: correct types of DynamicForm onSubmit
  src/compositions/DynamicForm/DynamicForm.tsx
  src/compositions/DynamicForm/DynamicForm.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.11.0-develop.1 [skip ci]
  dist/compositions/DynamicForm/index.d.ts
  dist/compositions/DynamicForm/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/TextInputV2.types.d.ts
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.11.0 [skip ci]
  package.json
Due: prettier --write

feat: add names to DynamicForm fields
  src/compositions/DynamicForm/wrappers/Checkbox.tsx
  src/compositions/DynamicForm/wrappers/TextField.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

fix(DynamicForm): add name to form
  src/compositions/DynamicForm/DynamicForm.tsx
  src/compositions/DynamicForm/DynamicForm.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.11.0-develop.2 [skip ci]
  dist/compositions/DynamicForm/index.d.ts
  dist/compositions/DynamicForm/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(pur-450): install deep compare, image transition
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/useImageTransition.js
  package-lock.json
  package.json
  src/customHooks/useImageTransition/useImageTransition.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

Path conditions:
  prettier --write: any of: **/*.{js,ts,tsx,json,md}
  eslint --fix --ignore-path .eslintignore --config .eslintrc: any of: **/*.{js,ts,tsx}
  jest --findRelatedTests --coverageThreshold '{}': any of: **/*.{js,ts,tsx}
  stylelint --fix --allow-empty-input: any of: **/*.css
