Repository cyrusxzw/new-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(con-690): open and close class names and onclose onopen callbacks
  dist/components/GlobalNavigation/index.d.ts
  dist/components/GlobalNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  src/components/GlobalNavigation/GlobalNavigation.fixture.tsx
  src/components/GlobalNavigation/GlobalNavigation.stories.mdx
  src/components/GlobalNavigation/GlobalNavigation.tsx
  src/components/GlobalNavigation/GlobalNavigation.types.ts
  src/components/GlobalNavigation/components/DesktopView/DesktopView.context.tsx
  src/components/GlobalNavigation/components/DesktopView/DesktopView.module.css
  src/components/GlobalNavigation/components/DesktopView/DesktopView.tsx
  src/components/GlobalNavigation/components/DesktopView/DesktopView.types.ts
  src/components/GlobalNavigation/components/DesktopView/components/CollectionLayout/CollectionLayout.module.css
  src/components/GlobalNavigation/components/DesktopView/components/MenuItem/MenuItem.module.css
  src/components/GlobalNavigation/components/DesktopView/components/PrimaryNavigation/PrimaryNavigation.tsx
  src/components/GlobalNavigation/components/MobileView/MobileView.context.tsx
  src/components/GlobalNavigation/components/MobileView/MobileView.module.css
  src/components/GlobalNavigation/components/MobileView/MobileView.tsx
  src/components/GlobalNavigation/components/MobileView/MobileView.types.ts
  src/components/GlobalNavigation/components/MobileView/components/ArticleList/ArticleList.module.css
  src/components/GlobalNavigation/components/MobileView/components/ArticleList/ArticleList.tsx
  src/components/GlobalNavigation/components/MobileView/components/Collection/Collection.tsx
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.tsx
  src/components/GlobalNavigation/components/MobileView/components/ListItem/ListItem.tsx
  src/components/GlobalNavigation/components/MobileView/components/SecondaryNavigation/SecondaryNavigation.module.css
  src/components/GlobalNavigation/components/MobileView/components/SecondaryNavigation/SecondaryNavigation.tsx
  src/styles/variables/z-index.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(con-690): top level cat api and props rename
  dist/components/GlobalNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Icon.js
  src/components/GlobalNavigation/GlobalNavigation.fixture.tsx
  src/components/GlobalNavigation/components/DesktopView/components/CollectionLayout/CollectionLayout.tsx
  src/components/GlobalNavigation/components/DesktopView/components/CollectionList/CollectionList.tsx
  src/components/GlobalNavigation/components/MobileView/components/SecondaryNavigation/SecondaryNavigation.tsx
  src/components/Icon/Icon.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: remove logo from nav position and tab flow
  src/components/GlobalNavigation/components/DesktopView/DesktopView.tsx
  src/components/GlobalNavigation/components/DesktopView/components/Logo/Logo.module.css
  src/components/GlobalNavigation/components/DesktopView/components/PrimaryNavigation/PrimaryNavigation.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat: capture active view in state
  dist/components/GlobalNavigation/index.d.ts
  dist/components/GlobalNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  src/components/GlobalNavigation/GlobalNavigation.context.tsx
  src/components/GlobalNavigation/GlobalNavigation.hooks.ts
  src/components/GlobalNavigation/GlobalNavigation.tsx
  src/components/GlobalNavigation/GlobalNavigation.types.ts
  src/components/GlobalNavigation/components/MobileView/components/ArticleCard/ArticleCard.module.css
  src/components/GlobalNavigation/components/MobileView/components/ArticleList/ArticleList.module.css
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.tsx
  src/components/GlobalNavigation/components/MobileView/components/SecondaryNavigation/SecondaryNavigation.module.css
  src/components/GlobalNavigation/components/PromotionCard/PromotionCard.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 1.11.0-develop.19 [skip ci]
  package.json
Due: prettier --write

feat(navigation): exporting mobile/desktop contexts
  src/components/GlobalNavigation/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: add built files
  dist/components/GlobalNavigation/index.d.ts
  dist/components/GlobalNavigation/index.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

fix: fix the text and border color of the button
  src/components/Button/Button.module.css
Due: stylelint --fix --allow-empty-input

feat(con-673): remove h1 tag and rewrite test
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/ContentHubArticle.js
  package-lock.json
  src/components/ContentHubArticle/ContentHubArticle.spec.tsx
  src/components/ContentHubArticle/ContentHubArticle.tsx
  src/components/ReadMore/__snapshots__/ReadMore.spec.js.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.11.0-develop.20 [skip ci]
  package.json
Due: prettier --write

chore(release): 1.11.0-develop.21 [skip ci]
  package.json
Due: prettier --write

fix(DynamicForm): export schema type
  src/compositions/DynamicForm/DynamicForm.types.ts
  src/compositions/DynamicForm/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.11.0-develop.22 [skip ci]
  dist/compositions/DynamicForm/index.d.ts
  dist/index.d.ts
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.11.0-develop.23 [skip ci]
  package.json
Due: prettier --write

style test
  src/components/StoreDetailHeader/StoreDetailHeader.module.css
Due: stylelint --fix --allow-empty-input

style test
  dist/sharedChunks/StoreDetailHeader.js
  dist/styles.css
  src/components/StoreDetailHeader/StoreDetailHeader.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

fix: custom cta button fix
  src/components/AddToCartButton/AddToCartButton.tsx
  src/types/Variant.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

fix: npm run build to capture changes
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/AddToCartButton.js
  dist/sharedChunks/Variant.types.d.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.11.0-develop.24 [skip ci]
  package.json
Due: prettier --write

feat: revert storybook paths
  .storybook/storybook.module.css
Due: stylelint --fix --allow-empty-input

feat: fix up stories and remove console logs
  .storybook/preview.js
  src/components/GlobalNavigation/components/DesktopView/DesktopView.stories.mdx
  src/components/GlobalNavigation/components/DesktopView/components/CollectionItem/CollectionItem.tsx
  src/components/GlobalNavigation/components/DesktopView/components/PrimaryNavigation/PrimaryNavigation.tsx
  src/components/GlobalNavigation/components/MobileView/MobileView.stories.mdx
  src/components/GlobalNavigation/components/MobileView/MobileView.tsx
  src/components/GlobalNavigation/components/MobileView/components/Collection/Collection.tsx
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.module.css
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.tsx
  src/components/GlobalNavigation/components/MobileView/components/Link/Link.tsx
  src/components/GlobalNavigation/components/MobileView/components/Link/Link.types.ts
  src/components/GlobalNavigation/components/MobileView/components/PrimaryNavigation/PrimaryNavigation.tsx
  src/components/GlobalNavigation/components/MobileView/components/SecondaryNavigation/SecondaryNavigation.module.css
  src/components/GlobalNavigation/components/MobileView/components/SecondaryNavigation/SecondaryNavigation.tsx
  src/components/GlobalNavigation/components/TabletView/TabletView.stories.mdx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat: export desktop provider and rebuild
  dist/components/GlobalNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  src/components/GlobalNavigation/components/DesktopView/DesktopView.module.css
  src/components/GlobalNavigation/components/MobileView/MobileView.module.css
  src/components/index.ts
  src/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat: update storybook
  .storybook/preview.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: theming and variable changes
  src/components/GlobalNavigation/GlobalNavigation.stories.mdx
  src/components/GlobalNavigation/GlobalNavigation.types.ts
  src/components/GlobalNavigation/components/DesktopView/DesktopView.context.tsx
  src/components/GlobalNavigation/components/DesktopView/DesktopView.fixture.ts
  src/components/GlobalNavigation/components/DesktopView/DesktopView.module.css
  src/components/GlobalNavigation/components/DesktopView/DesktopView.stories.mdx
  src/components/GlobalNavigation/components/DesktopView/DesktopView.tsx
  src/components/GlobalNavigation/components/DesktopView/components/CollectionLayout/CollectionLayout.module.css
  src/components/GlobalNavigation/components/DesktopView/components/MenuItem/MenuItem.module.css
  src/components/GlobalNavigation/components/DesktopView/components/Panel/Panel.module.css
  src/components/GlobalNavigation/components/DesktopView/components/Panel/Panel.tsx
  src/components/GlobalNavigation/components/Logo/Logo.module.css
  src/components/GlobalNavigation/components/Logo/Logo.tsx
  src/components/GlobalNavigation/components/Logo/Logo.types.ts
  src/components/GlobalNavigation/components/Logo/Logo.utils.ts
  src/components/GlobalNavigation/components/MobileView/MobileView.module.css
  src/components/GlobalNavigation/components/MobileView/components/ArticleCard/ArticleCard.module.css
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.module.css
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.tsx
  src/components/GlobalNavigation/components/MobileView/components/ListItem/ListItem.tsx
  src/components/GlobalNavigation/components/PromotionCard/PromotionCard.module.css
  src/components/GlobalNavigation/components/PromotionCard/PromotionCard.tsx
  src/components/GlobalNavigation/components/TabletView/TabletView.context.tsx
  src/components/GlobalNavigation/components/TabletView/TabletView.module.css
  src/components/GlobalNavigation/components/TabletView/TabletView.stories.mdx
  src/components/GlobalNavigation/components/TabletView/TabletView.tsx
  src/components/GlobalNavigation/components/TabletView/TabletView.types.ts
  src/components/GlobalNavigation/components/TabletView/components/ArticleCard/ArticleCard.module.css
  src/components/GlobalNavigation/components/TabletView/components/CollectionList/CollectionList.module.css
  src/components/GlobalNavigation/components/TabletView/components/CollectionList/CollectionList.tsx
  src/components/GlobalNavigation/components/TabletView/components/CollectionList/CollectionList.types.ts
  src/components/GlobalNavigation/components/TabletView/components/PrimaryMenu/PrimaryMenu.tsx
  src/components/GlobalNavigation/components/TabletView/components/ReadMenu/ReadMenu.tsx
  src/components/GlobalNavigation/components/TabletView/components/SecondaryMenu/SecondaryMenu.tsx
  src/components/GlobalNavigation/components/TabletView/components/SelectionPanel/SelectionPanel.tsx
  src/components/GlobalNavigation/components/TabletView/components/SupportMenu/SupportMenu.tsx
  src/components/GlobalNavigation/components/TabletView/components/SupportMenu/SupportMenu.types.ts
  src/components/GlobalNavigation/components/TabletView/components/TopLevelCollectionLayout/TopLevelCollectionLayout.tsx
  src/styles/mixins/theme.css
  src/styles/variables/color.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat: rebuild of global navigation files
  dist/components/Audio/index.js
  dist/components/GlobalNavigation/index.d.ts
  dist/components/GlobalNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Carousel.js
  dist/sharedChunks/GoogleMap.js
  dist/styles.css
  src/components/GlobalNavigation/components/TabletView/components/ArticleList/ArticleList.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

store header styling
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/StoreDetailHeader.js
  dist/sharedChunks/StoreHoursList.js
  dist/styles.css
  src/components/StoreDetailHeader/StoreDetailHeader.module.css
  src/components/StoreDetailHeader/StoreDetailHeader.tsx
  src/components/StoreHoursList/StoreHoursList.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 1.11.0-develop.25 [skip ci]
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,ts,tsx,json,md}
  eslint --fix --ignore-path .eslintignore --config .eslintrc: any of: **/*.{js,ts,tsx}
  jest --findRelatedTests --coverageThreshold '{}': any of: **/*.{js,ts,tsx}
  stylelint --fix --allow-empty-input: any of: **/*.css
