Repository cyrusxzw/new-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "**/*.{js,ts,tsx}": [
    "eslint --fix --ignore-path .eslintignore --config .eslintrc",
    "jest --findRelatedTests --coverageThreshold '{}'"
  ],
  "**/*.css": [
    "stylelint --fix --allow-empty-input"
  ]
}

feat(con-143): rebuild
  dist/index.cjs.js.map
  dist/index.esm.js.map
  dist/styles.css
Due: stylelint --fix --allow-empty-input

feat(ae-231): migrate Icon to TS
  src/components/Hyperlink/Hyperlink.tsx
  src/components/Icon/Icon.spec.tsx
  src/components/Icon/Icon.svgs.ts
  src/components/Icon/Icon.tsx
  src/components/Icon/Icon.types.ts
  src/components/Icon/Icon.utils.ts
  src/components/Icon/__snapshots__/Icon.spec.tsx.snap
  src/components/Icon/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.10 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-143): make changes to full hero scroll component
  .storybook/components/StorybookGridOverlay/StorybookGridOverlay.js
  src/components/FullWidthHeroScroll/FullWidthHeroScroll.fixture.js
  src/components/FullWidthHeroScroll/FullWidthHeroScroll.js
  src/components/FullWidthHeroScroll/FullWidthHeroScroll.module.css
  src/components/FullWidthHeroScroll/FullWidthHeroScroll.stories.mdx
  src/components/FullWidthHeroScroll/__snapshots__/FullWidthHeroScroll.spec.js.snap
  src/components/HeroBanner/HeroBanner.fixture.tsx
  src/components/HeroBanner/HeroBanner.stories.mdx
  src/components/HeroBanner/components/HeroBannerContent/HeroBannerContent.module.css
  src/components/HeroBanner/components/HeroBannerMedia/HeroBannerMedia.tsx
  src/components/HeroBanner/components/HeroBannerMedia/HeroBannerMedia.types.ts
  src/components/Video/Video.js
  src/components/Video/Video.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(con-143): rebuild
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(ae-219): migrate DefinitionListWithProductExtract to TS
  src/components/DefinitionListWithProductExtract/DefinitionListWithProductExtract.fixture.ts
  src/components/DefinitionListWithProductExtract/DefinitionListWithProductExtract.js
  src/components/DefinitionListWithProductExtract/DefinitionListWithProductExtract.spec.tsx
  src/components/DefinitionListWithProductExtract/DefinitionListWithProductExtract.tsx
  src/components/DefinitionListWithProductExtract/DefinitionListWithProductExtract.type.ts
  src/components/DefinitionListWithProductExtract/__snapshots__/DefinitionListWithProductExtract.spec.tsx.snap
  src/components/DefinitionListWithProductExtract/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-143): rebuild and revert full width scroll
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  src/components/FullWidthHeroScroll/FullWidthHeroScroll.js
  src/components/FullWidthHeroScroll/FullWidthHeroScroll.module.css
  src/components/FullWidthHeroScroll/__snapshots__/FullWidthHeroScroll.spec.js.snap
  src/components/HeroBanner/components/HeroBannerContent/HeroBannerContent.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(con-143): improve video display
  src/components/HeroBanner/HeroBanner.fixture.tsx
  src/components/HeroBanner/HeroBanner.stories.mdx
  src/components/HeroBanner/HeroBanner.tsx
  src/components/HeroBanner/HeroBanner.types.ts
  src/components/HeroBanner/components/HeroBannerContent/HeroBannerContent.module.css
  src/components/HeroBanner/components/HeroBannerContent/HeroBannerContent.tsx
  src/components/HeroBanner/components/HeroBannerContent/HeroBannerContent.types.ts
  src/components/HeroBanner/components/HeroBannerMedia/HeroBannerMedia.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat: re build
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat: rebuild
  dist/index.cjs.js.map
  dist/index.esm.js.map
Due: none

feat(con-188): add ingredient flyouts 1 and 2 to ProductDetailHeader and body components
  src/components/ProductDetailHeader/ProductDetailHeader.js
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.13 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: create portal root util to share logic
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  src/components/FlyinPanel/FlyinPanel.js
  src/components/Modal/Modal.tsx
  src/utils/index.js
  src/utils/portal/index.js
  src/utils/portal/portal.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: revert change
  src/components/Modal/Modal.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(ae-239): migrate loading component to typescript
  src/components/Loading/Loading.js
  src/components/Loading/Loading.module.css
  src/components/Loading/Loading.spec.tsx
  src/components/Loading/Loading.stories.mdx
  src/components/Loading/Loading.tsx
  src/components/Loading/Loading.types.ts
  src/components/Loading/__snapshots__/Loading.spec.tsx.snap
  src/components/Loading/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(ae-239): remove charater
  src/components/Loading/Loading.stories.mdx
Due: none

feat(ae-239): remove the forward ref
  src/components/Loading/Loading.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: ensure typings work with correct index file
  src/utils/portal/index.js
  src/utils/portal/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.15 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
  dist/styles.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore: disable update_web_ui workflow
  .github/workflows/tag-push.yml
Due: none

chore: remove ability to manually trigger tag push workflow
  .github/workflows/tag-push.yml
Due: none

feat(react-17): be explicit about capture argument
  src/customHooks/useEscapeKeyListener/useEscapeKeyListener.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(ae-266): migrate Video to TS
  src/components/Video/Video.customHooks.ts
  src/components/Video/Video.spec.tsx
  src/components/Video/Video.tsx
  src/components/Video/Video.types.ts
  src/components/Video/__snapshots__/Video.spec.tsx.snap
  src/components/Video/components/Controls/Controls.tsx
  src/components/Video/components/Controls/Controls.types.ts
  src/components/Video/components/Controls/index.ts
  src/components/Video/components/Poster/Poster.tsx
  src/components/Video/components/Poster/Poster.types.ts
  src/components/Video/components/Poster/index.ts
  src/components/Video/components/VideoPlayer/VideoPlayer.js
  src/components/Video/components/VideoPlayer/VideoPlayer.tsx
  src/components/Video/components/VideoPlayer/VideoPlayer.types.ts
  src/components/Video/components/VideoPlayer/VideoPlayer.utils.ts
  src/components/Video/components/VideoPlayer/index.ts
  src/components/Video/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

refactor(ae-266): remove references to ext comp types
  src/components/Video/Video.types.ts
  src/components/Video/components/Poster/Poster.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.16 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(react-17): build files
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(aes-244): migrate overlay to typescript
  src/components/Overlay/Overlay.module.css
  src/components/Overlay/Overlay.spec.tsx
  src/components/Overlay/Overlay.stories.mdx
  src/components/Overlay/Overlay.tsx
  src/components/Overlay/Overlay.types.ts
  src/components/Overlay/__snapshots__/Overlay.spec.tsx.snap
  src/components/Overlay/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat: remove old test
  src/components/Overlay/Overlay.spec.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

refactor(con-188): remove boilerplate rendering from gel and shift to web-ui
  src/components/ProductDetailHeader/ProductDetailHeader.js
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(ae-263): migrate transition to typescript and update api
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  src/components/DialogBanner/DialogBanner.js
  src/components/FlyinPanel/FlyinPanel.js
  src/components/GoogleMap/GoogleMap.js
  src/components/Modal/Modal.tsx
  src/components/Overlay/Overlay.js
  src/components/Transition/Transition.data.ts
  src/components/Transition/Transition.fixture.ts
  src/components/Transition/Transition.js
  src/components/Transition/Transition.spec.js
  src/components/Transition/Transition.spec.tsx
  src/components/Transition/Transition.stories.mdx
  src/components/Transition/Transition.tsx
  src/components/Transition/Transition.types.ts
  src/components/Transition/__snapshots__/Transition.spec.tsx.snap
  src/components/Transition/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-116): rethink and re factor breakpoints and viewports
  src/components/Carousel/Carousel.tsx
  src/components/Carousel/Carousel.utils.tsx
  src/components/GoogleMap/GoogleMap.js
  src/components/Hidden/Hidden.js
  src/components/Hidden/Hidden.spec.js
  src/components/HorizontalProductDisplayAccordion/HorizontalProductDisplayAccordion.js
  src/components/HorizontalProductDisplayAccordion/components/AccordionProduct/AccordionProduct.module.css
  src/components/Image/Image.tsx
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.js
  src/components/SubNav/SubNav.js
  src/components/Video/Video.js
  src/components/Video/components/Controls/Controls.js
  src/components/Video/components/VideoPlayer/VideoPlayer.utils.js
  src/constants/breakpoints.js
  src/constants/breakpoints.ts
  src/constants/index.ts
  src/constants/viewports.ts
  src/styles/variables/viewport.css
  src/types/ViewportNames.types.ts
  src/types/index.ts
  src/utils/viewports/index.js
  src/utils/viewports/index.ts
  src/utils/viewports/viewports.js
  src/utils/viewports/viewports.spec.js
  src/utils/viewports/viewports.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(con-116): variable clean up
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  src/components/Carousel/Carousel.tsx
  src/components/GoogleMap/GoogleMap.js
  src/components/SubNav/SubNav.js
  src/components/Video/components/Controls/Controls.tsx
  src/utils/viewports/viewports.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat: rename files
  dist/index.cjs.js.map
  dist/index.esm.js.map
  src/components/Carousel/Carousel.tsx
  src/components/GoogleMap/GoogleMap.js
  src/components/Hidden/Hidden.js
  src/components/HorizontalProductDisplayAccordion/HorizontalProductDisplayAccordion.js
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.js
  src/components/SubNav/SubNav.js
  src/components/Video/Video.tsx
  src/components/Video/components/Controls/Controls.tsx
  src/components/Video/components/VideoPlayer/VideoPlayer.utils.ts
  src/constants/breakpoints.ts
  src/index.js
  src/types/Viewport.types.ts
  src/types/index.ts
  src/utils/index.js
  src/utils/viewport/index.ts
  src/utils/viewport/viewport.ts
  src/utils/viewports/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(ae-263): remove unused fixture file
  src/components/Transition/Transition.fixture.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: rebuild
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: clean up package lock
  package-lock.json
Due: prettier --write

chore(release): 1.3.0-develop.17 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
  dist/styles.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input
