Repository cyrusxzw/new-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "**/*.{js,ts,tsx}": [
    "eslint --fix --ignore-path .eslintignore --config .eslintrc",
    "jest --findRelatedTests --coverageThreshold '{}'"
  ],
  "**/*.css": [
    "stylelint --fix --allow-empty-input"
  ]
}

feat(pur-450): remove package, obj stringify
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/useImageTransition.js
  package-lock.json
  package.json
  src/customHooks/useImageTransition/useImageTransition.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(pur-450): update test, dep array
  dist/customHooks/useImageTransition/index.d.ts
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/useImageTransition.js
  package-lock.json
  src/customHooks/useImageTransition/useImageTransition.spec.tsx
  src/customHooks/useImageTransition/useImageTransition.ts
  src/customHooks/useImageTransition/useImageTransition.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.12.0 [skip ci]
  package.json
Due: prettier --write

chore: update dom assertions based on linting
  src/components/Button/Button.spec.tsx
  src/components/FlyinPanel/FlyinPanel.spec.tsx
  src/components/Modal/Modal.spec.tsx
  src/components/Modal/components/ModalBody/ModalBody.spec.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.11.0-develop.3 [skip ci]
  package.json
Due: prettier --write

feat: remove index ts files from tsx and remove deprecated assertion
  dist/components/DialogBanner/index.js
  dist/components/FooterBlock/index.js
  dist/components/GoogleMap/index.js
  dist/components/IconLink/index.js
  dist/components/NotificationModal/index.js
  dist/components/ReadMore/index.js
  dist/components/TextInput/index.js
  dist/compositions/DynamicForm/index.js
  dist/compositions/Footer/index.js
  dist/compositions/NewsletterSignUp/index.js
  dist/compositions/StoreDetail/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/FooterBlock.js
  dist/sharedChunks/GoogleMap.js
  dist/sharedChunks/Heading.js
  dist/sharedChunks/IconLink.js
  dist/sharedChunks/NewsletterSignUp.js
  dist/sharedChunks/NotificationModal.js
  dist/sharedChunks/Quote.js
  dist/sharedChunks/TextInput.js
  dist/sharedChunks/_rollupPluginBabelHelpers.js
  dist/sharedChunks/find.js
  dist/styles.css
  src/components/FlyinPanel/FlyinPanel.tsx
  src/components/ProductAccordion/components/ProductAccordionItem/ProductAccordionItem.tsx
  src/components/ProductCommerce/ProductCommerce.tsx
  src/components/ProductDetailHeader/ProductDetailHeader.tsx
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.tsx
  src/components/ProductExtract/ProductExtract.tsx
  src/components/ProductGridItem/ProductGridItem.tsx
  src/components/SecondaryMessage/components/Message/Message.tsx
  src/components/SectionHeading/SectionHeading.tsx
  src/components/Select/Select.spec.tsx
  src/components/StoreDetailHeader/StoreDetailHeader.tsx
  src/components/StoreHoursList/StoreHoursList.tsx
  src/compositions/StoreDetail/StoreDetail.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat: revert
  src/components/Select/Select.spec.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: update storybook to 6.3.6
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: migrate to @storybook/addon-postcss
  .storybook/main.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: change assertion
  src/components/Select/Select.spec.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.11.0-develop.4 [skip ci]
  dist/components/DialogBanner/index.js
  dist/components/FooterBlock/index.js
  dist/components/GoogleMap/index.js
  dist/components/IconLink/index.js
  dist/components/NotificationModal/index.js
  dist/components/ReadMore/index.js
  dist/components/TextInput/index.js
  dist/compositions/DynamicForm/index.js
  dist/compositions/Footer/index.js
  dist/compositions/NewsletterSignUp/index.js
  dist/compositions/StoreDetail/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/FooterBlock.js
  dist/sharedChunks/GoogleMap.js
  dist/sharedChunks/Heading.js
  dist/sharedChunks/IconLink.js
  dist/sharedChunks/NewsletterSignUp.js
  dist/sharedChunks/NotificationModal.js
  dist/sharedChunks/Quote.js
  dist/sharedChunks/TextInput.js
  dist/sharedChunks/_rollupPluginBabelHelpers.js
  dist/sharedChunks/find.js
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat: temp remove axe assertion from video
  src/components/Video/Video.spec.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.11.0-develop.5 [skip ci]
  dist/components/DialogBanner/index.js
  dist/components/FooterBlock/index.js
  dist/components/GoogleMap/index.js
  dist/components/IconLink/index.js
  dist/components/NotificationModal/index.js
  dist/components/ReadMore/index.js
  dist/components/TextInput/index.js
  dist/compositions/DynamicForm/index.js
  dist/compositions/Footer/index.js
  dist/compositions/NewsletterSignUp/index.js
  dist/compositions/StoreDetail/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/FooterBlock.js
  dist/sharedChunks/GoogleMap.js
  dist/sharedChunks/Heading.js
  dist/sharedChunks/IconLink.js
  dist/sharedChunks/NewsletterSignUp.js
  dist/sharedChunks/NotificationModal.js
  dist/sharedChunks/Quote.js
  dist/sharedChunks/TextInput.js
  dist/sharedChunks/_rollupPluginBabelHelpers.js
  dist/sharedChunks/find.js
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(CON-465): migrate DialogBanner to TS
  src/components/DialogBanner/DialogBanner.spec.tsx
  src/components/DialogBanner/DialogBanner.stories.mdx
  src/components/DialogBanner/DialogBanner.tsx
  src/components/DialogBanner/DialogBanner.types.ts
  src/components/DialogBanner/__snapshots__/DialogBanner.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.11.0-develop.6 [skip ci]
  dist/components/DialogBanner/index.d.ts
  dist/components/DialogBanner/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: fix path of dist in git attributes
  .gitattributes
Due: none

feat(con-128): add ref to doublemedia component
  src/components/DoubleMedia/DoubleMedia.tsx
  src/components/DoubleMedia/DoubleMedia.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.11.0-develop.7 [skip ci]
  dist/components/DoubleMedia/index.d.ts
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/DoubleMedia.js
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(pur-446): atc button label logic, test
  src/components/AddToCartButton/AddToCartButton.spec.tsx
  src/components/AddToCartButton/AddToCartButton.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(pur-446): build
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/AddToCartButton.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.11.0-develop.8 [skip ci]
  package.json
Due: prettier --write

feat: accessible loading state
  src/components/Audio/__snapshots__/Audio.spec.tsx.snap
  src/components/BynderWidget/__snapshots__/BynderWidget.spec.tsx.snap
  src/components/Loading/Loading.tsx
  src/components/Loading/__snapshots__/Loading.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: build
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Loading.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: create personal account info summary comp
  src/components/PersonalInfoSummary/PersonalInfoSummary.fixture.ts
  src/components/PersonalInfoSummary/PersonalInfoSummary.module.css
  src/components/PersonalInfoSummary/PersonalInfoSummary.spec.tsx
  src/components/PersonalInfoSummary/PersonalInfoSummary.stories.mdx
  src/components/PersonalInfoSummary/PersonalInfoSummary.tsx
  src/components/PersonalInfoSummary/PersonalInfoSummary.types.ts
  src/components/PersonalInfoSummary/index.ts
  src/components/PersonalInfoSummary/utils/utils.spec.ts
  src/components/PersonalInfoSummary/utils/utils.ts
  src/components/index.ts
  src/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 1.11.0-develop.9 [skip ci]
  dist/components/PersonalInfoSummary/index.d.ts
  dist/components/PersonalInfoSummary/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat: improve the hidden components api and documentation
  dist/components/Hidden/index.d.ts
  dist/compositions/Footer/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Hidden.js
  dist/sharedChunks/ProductDetailHeader.js
  src/components/Hidden/Hidden.stories.mdx
  src/components/Hidden/Hidden.tsx
  src/components/Hidden/Hidden.types.ts
  src/components/ProductDetailHeader/ProductDetailHeader.tsx
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.tsx
  src/components/ProductDetailHeader/components/ProductDetailImage/ProductDetailImage.tsx
  src/compositions/Footer/Footer.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: rearrange
  src/components/Hidden/Hidden.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: rebuild hidden api
  dist/index.cjs.js.map
  dist/index.esm.js.map
Due: none

chore(release): 1.11.0-develop.10 [skip ci]
  package.json
Due: prettier --write

fix(TextInputV2): remove aria-describedby if there is no error
  src/components/TextInputV2/TextInputV2.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.11.0-develop.11 [skip ci]
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/TextInputV2.js
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

fix(Select): remove aria-describedby if there is no error
  src/components/Select/Select.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.11.0-develop.12 [skip ci]
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Select.js
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: remove logs
  src/components/MobileNavigation/MobileNavigation.hooks.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: clean up fixtures
  src/components/MobileNavigation/MobileNavigation.fixture.ts
  src/components/MobileNavigation/MobileNavigation.spec.tsx
  src/components/MobileNavigation/components/Collection/Collection.fixture.ts
  src/components/MobileNavigation/components/Header/Header.fixture.ts
  src/components/MobileNavigation/components/Link/Link.fixture.ts
  src/components/MobileNavigation/components/ListItem/ListItem.fixture.ts
  src/components/MobileNavigation/components/NestedCollection/NestedCollection.fixture.ts
  src/components/MobileNavigation/components/SecondaryNavigation/SecondaryNavigation.fixture.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: update strorybook font source
  .storybook/storybook.module.css
Due: stylelint --fix --allow-empty-input

feat: edit width
  dist/components/MobileNavigation/index.js
  dist/styles.css
  src/components/MobileNavigation/MobileNavigation.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat: style tweak
  dist/components/MobileNavigation/index.js
  dist/styles.css
  src/components/MobileNavigation/components/Collection/Collection.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input
