Repository cyrusxzw/new-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat: fix errors in story book and legacy css alignment
  src/components/TwoColumnLayout/TwoColumnLayout.module.css
  src/components/TwoColumnLayout/TwoColumnLayout.stories.mdx
Due: stylelint --fix --allow-empty-input

feat(con-387-402): migrate subnav and select to typescript
  dist/components/Select/index.d.ts
  dist/components/Select/index.js
  dist/components/SubNav/index.d.ts
  dist/components/SubNav/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Select.js
  dist/styles.css
  src/components/Select/Select.fixture.ts
  src/components/Select/Select.js
  src/components/Select/Select.module.css
  src/components/Select/Select.spec.js
  src/components/Select/Select.spec.tsx
  src/components/Select/Select.stories.mdx
  src/components/Select/Select.tsx
  src/components/Select/Select.types.ts
  src/components/SubNav/SubNav.fixture.ts
  src/components/SubNav/SubNav.js
  src/components/SubNav/SubNav.spec.js
  src/components/SubNav/SubNav.spec.tsx
  src/components/SubNav/SubNav.stories.mdx
  src/components/SubNav/SubNav.tsx
  src/components/SubNav/SubNav.types.ts
  src/components/SubNav/SubNav.utils.tsx
  src/components/SubNav/__snapshots__/SubNav.spec.js.snap
  src/components/TwoColumnLayout/TwoColumnLayout.stories.mdx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(con-384): migrate link button group to typescript
  dist/components/LinkButtonGroup/index.d.ts
  dist/components/LinkButtonGroup/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/LinkButtonGroup.js
  src/components/LinkButtonGroup/LinkButtonGroup.fixture.ts
  src/components/LinkButtonGroup/LinkButtonGroup.js
  src/components/LinkButtonGroup/LinkButtonGroup.spec.js
  src/components/LinkButtonGroup/LinkButtonGroup.spec.tsx
  src/components/LinkButtonGroup/LinkButtonGroup.stories.mdx
  src/components/LinkButtonGroup/LinkButtonGroup.tsx
  src/components/LinkButtonGroup/LinkButtonGroup.types.ts
  src/components/LinkButtonGroup/__snapshots__/LinkButtonGroup.spec.js.snap
  src/components/MediaWithContent/MediaWithContent.fixture.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-385): update dispatch type import
  dist/contexts/AddToCartContext/index.d.ts
  dist/index.d.ts
  src/contexts/AddToCartContext/AddToCartContext.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: update styles
  dist/sharedChunks/TwoColumnLayout.js
  dist/styles.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(con-387-402): update tests
  src/components/Select/Select.spec.tsx
  src/components/SubNav/SubNav.spec.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: re build
  dist/components/ProductCommerce/index.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(typescript): update section heading type
  dist/components/SectionHeading/index.d.ts
  dist/index.d.ts
  src/components/SectionHeading/SectionHeading.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: update dependencies to reduce vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

feat(con-157): alter html and css to handle more content
  .storybook/storybook.module.css
  dist/components/HorizontalProductDisplayAccordion/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  src/components/HorizontalProductDisplayAccordion/HorizontalProductDisplayAccordion.fixture.js
  src/components/HorizontalProductDisplayAccordion/HorizontalProductDisplayAccordion.js
  src/components/HorizontalProductDisplayAccordion/HorizontalProductDisplayAccordion.module.css
  src/components/HorizontalProductDisplayAccordion/HorizontalProductDisplayAccordion.spec.js
  src/components/HorizontalProductDisplayAccordion/HorizontalProductDisplayAccordion.stories.mdx
  src/components/HorizontalProductDisplayAccordion/__snapshots__/HorizontalProductDisplayAccordion.spec.js.snap
  src/components/HorizontalProductDisplayAccordion/components/AccordionProduct/AccordionProduct.js
  src/components/HorizontalProductDisplayAccordion/components/AccordionProduct/AccordionProduct.module.css
  src/components/HorizontalProductDisplayAccordion/components/AccordionProduct/AccordionProduct.spec.js
  src/components/HorizontalProductDisplayAccordion/components/AccordionProduct/__snapshots__/AccordionProduct.spec.js.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat: revert storybook css
  .storybook/storybook.module.css
Due: stylelint --fix --allow-empty-input

chore(release): 1.3.0-develop.55 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
  dist/sharedChunks/Heading.js
  dist/sharedChunks/Quote.js
  dist/sharedChunks/toNumber.js
  dist/styles.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(pur-94): tax incl field for jp region
  src/components/AddToCartButton/AddToCartButton.tsx
  src/components/AddToCartButton/AddToCartButton.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: re build
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: re build
  dist/sharedChunks/Heading.js
  dist/sharedChunks/Quote.js
  dist/sharedChunks/toNumber.js
  dist/styles.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(con-414): rebuild
  dist/components/ProductAccordion/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  src/components/ProductAccordion/ProductAccordion.spec.tsx
  src/components/ProductAccordion/ProductAccordion.stories.mdx
  src/components/ProductAccordion/ProductAccordion.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(pur-94): added test
  src/components/AddToCartButton/AddToCartButton.fixture.ts
  src/components/AddToCartButton/AddToCartButton.spec.tsx
  src/components/AddToCartButton/__snapshots__/AddToCartButton.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-414): styles for video height
  dist/components/ProductAccordion/index.js
  dist/styles.css
  src/components/ProductAccordion/ProductAccordion.stories.mdx
  src/components/ProductAccordion/components/ProductAccordionItem/ProductAccordionItem.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

fix(pur-94): modified tests
  src/components/AddToCartButton/AddToCartButton.fixture.ts
  src/components/AddToCartButton/AddToCartButton.spec.tsx
  src/components/AddToCartButton/__snapshots__/AddToCartButton.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-414): adjustments to css
  dist/components/ProductAccordion/index.js
  dist/styles.css
  src/components/ProductAccordion/ProductAccordion.fixture.tsx
  src/components/ProductAccordion/components/ProductAccordionItem/ProductAccordionItem.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat: update fixture
  src/components/ProductAccordion/ProductAccordion.fixture.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

fix(pur-94): getting rid of space
  src/components/AddToCartButton/AddToCartButton.spec.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

fix(pur-94): remove extra space
  src/components/AddToCartButton/AddToCartButton.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.56 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
  dist/sharedChunks/AddToCartButton.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: rebuild
  dist/components/AddToCartButton/index.d.ts
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js.map
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: type exports
  dist/index.d.ts
  src/types/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-426): temp fix to remove autoplaying videos on ie
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Video.js
  src/components/Video/Video.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: add error log
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Video.js
  src/components/Video/Video.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-432): migrate product grid item to typescript
  src/components/ProductGridItem/ProductGridItem.fixture.ts
  src/components/ProductGridItem/ProductGridItem.spec.tsx
  src/components/ProductGridItem/ProductGridItem.stories.mdx
  src/components/ProductGridItem/ProductGridItem.tsx
  src/components/ProductGridItem/ProductGridItem.types.ts
  src/components/ProductGridItem/ProductGridItemStorybook.module.css
  src/components/ProductGridItem/__snapshots__/ProductGridItem.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(con-413): migrate notification modal to typescript
  src/components/NotificationModal/NotificationModal.fixture.ts
  src/components/NotificationModal/NotificationModal.spec.tsx
  src/components/NotificationModal/NotificationModal.stories.mdx
  src/components/NotificationModal/NotificationModal.tsx
  src/components/NotificationModal/NotificationModal.types.ts
  src/components/NotificationModal/__snapshots__/NotificationModal.spec.tsx.snap
  src/components/NotificationModal/components/ToggleButton/ToggleButton.tsx
  src/components/NotificationModal/components/ToggleButton/index.ts
  src/components/NotificationModal/components/ToogleButton/ToogleButton.spec.js
  src/components/NotificationModal/components/ToogleButton/__snapshots__/ToogleButton.spec.js.snap
  src/components/NotificationModal/components/ToogleButton/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: explicit variable name
  src/components/NotificationModal/components/ToggleButton/ToggleButton.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.61 [skip ci]
  dist/components/ProductGridItem/index.js
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-413): remove toggle button component
  src/components/NotificationModal/NotificationModal.stories.mdx
  src/components/NotificationModal/components/ToggleButton/ToggleButton.tsx
  src/components/NotificationModal/components/ToggleButton/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: remove event prevent default
  src/components/NotificationModal/NotificationModal.stories.mdx
Due: none

chore(release): 1.3.0-develop.62 [skip ci]
  dist/components/NotificationModal/index.js
  dist/index.cjs.js
  dist/index.esm.js
  dist/sharedChunks/NotificationModal.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

Path conditions:
  prettier --write: any of: **/*.{js,ts,tsx,json,md}
  eslint --fix --ignore-path .eslintignore --config .eslintrc: any of: **/*.{js,ts,tsx}
  jest --findRelatedTests --coverageThreshold '{}': any of: **/*.{js,ts,tsx}
  stylelint --fix --allow-empty-input: any of: **/*.css
