Repository cyrusxzw/new-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

fix(con-627): address PR review comments & tweak implementation
  src/components/GlobalNavigation/GlobalNavigation.context.tsx
  src/components/GlobalNavigation/GlobalNavigation.hooks.ts
  src/components/GlobalNavigation/GlobalNavigation.module.css
  src/components/GlobalNavigation/GlobalNavigation.types.ts
  src/components/GlobalNavigation/GlobalNavigation.utils.ts
  src/components/GlobalNavigation/components/DesktopView/DesktopView.module.css
  src/components/GlobalNavigation/components/DesktopView/DesktopView.tsx
  src/components/GlobalNavigation/components/MobileView/MobileView.module.css
  src/components/GlobalNavigation/components/MobileView/MobileView.tsx
  src/components/GlobalNavigation/components/TabletView/TabletView.module.css
  src/components/GlobalNavigation/components/TabletView/TabletView.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

fix(P-30): remove aria label submenu with h2 tag now present
  src/components/GlobalNavigation/components/DesktopView/components/CollectionList/CollectionList.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(P-29): remove strong tag, add header tag and modify gel header to accept data-test-ref
  src/components/GlobalNavigation/components/DesktopView/components/CollectionList/CollectionList.module.css
  src/components/GlobalNavigation/components/DesktopView/components/CollectionList/CollectionList.tsx
  src/components/Heading/Heading.tsx
  src/components/Heading/Heading.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

fix(P-27): hide close button list item from screen readers when invisible visually
  src/components/GlobalNavigation/components/DesktopView/components/CloseButton/CloseButton.module.css
  src/components/GlobalNavigation/components/TabletView/TabletView.module.css
  src/components/GlobalNavigation/components/TabletView/components/PrimaryMenu/PrimaryMenu.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(P-33): make About & Philosophy header tags and hidden when invisible
  src/components/GlobalNavigation/components/TabletView/components/CollectionList/CollectionList.module.css
  src/components/GlobalNavigation/components/TabletView/components/CollectionList/CollectionList.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 1.14.0 [skip ci]
  dist/components/GlobalNavigation/index.d.ts
  dist/components/GlobalNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 1.15.0 [skip ci]
  dist/components/GlobalNavigation/index.js
  dist/components/Heading/index.d.ts
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Heading.js
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(hyperlink test id): adding option to add data-test-id to Hyperlinks
  src/components/GlobalNavigation/components/TabletView/components/CollectionItem/CollectionItem.tsx
  src/components/Hyperlink/Hyperlink.tsx
  src/components/Hyperlink/Hyperlink.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.16.0 [skip ci]
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Hyperlink.js
  dist/sharedChunks/Hyperlink.types.d.ts
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(navigation): set up navigation release stream
  .releaserc
Due: none

feat(test ids): adding test IDs to navigation views
  src/components/GlobalNavigation/components/DesktopView/components/CollectionItem/CollectionItem.tsx
  src/components/GlobalNavigation/components/TabletView/components/CollectionList/CollectionList.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.17.0-navigation.1 [skip ci]
  dist/components/GlobalNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.17.0 [skip ci]
  package.json
Due: prettier --write

chore: run prettier on commit on css and mdx (#579)
  .lintstagedrc
Due: none

fix(accessibility): add accessibility changes for desktop view
  src/components/GlobalNavigation/components/DesktopView/components/CollectionImage/CollectionImage.module.css
  src/components/GlobalNavigation/components/DesktopView/components/CollectionImage/CollectionImage.tsx
  src/components/GlobalNavigation/components/DesktopView/components/CollectionImage/CollectionImage.types.ts
  src/components/GlobalNavigation/components/DesktopView/components/CollectionLayout/CollectionLayout.module.css
  src/components/GlobalNavigation/components/DesktopView/components/CollectionLayout/CollectionLayout.tsx
  src/components/GlobalNavigation/components/DesktopView/components/CollectionList/CollectionList.module.css
  src/components/GlobalNavigation/components/DesktopView/components/CollectionList/CollectionList.tsx
  src/components/GlobalNavigation/components/DesktopView/components/CollectionList/CollectionList.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

fix(overlay): correct overlay issue in tablet and desktop views
  src/components/GlobalNavigation/components/DesktopView/DesktopView.module.css
  src/components/GlobalNavigation/components/TabletView/TabletView.module.css
  src/components/GlobalNavigation/components/TabletView/components/SelectionPanel/SelectionPanel.module.css
Due: stylelint --fix --allow-empty-input

chore(release): 1.17.0-navigation.2 [skip ci]
  dist/components/GlobalNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(con-843): fixing scrolling behaviour for article cards on mobile
  src/components/GlobalNavigation/components/MobileView/components/ArticleCard/ArticleCard.module.css
  src/components/GlobalNavigation/components/MobileView/components/ArticleList/ArticleList.module.css
Due: stylelint --fix --allow-empty-input

fix(nav polish): use rem for all font sizes, remove article card scrolling
  src/components/GlobalNavigation/components/DesktopView/components/CollectionItem/CollectionItem.module.css
  src/components/GlobalNavigation/components/DesktopView/components/CollectionList/CollectionList.module.css
  src/components/GlobalNavigation/components/MobileView/components/ArticleCard/ArticleCard.module.css
  src/components/GlobalNavigation/components/MobileView/components/ArticleCard/ArticleCard.tsx
  src/components/GlobalNavigation/components/MobileView/components/ArticleList/ArticleList.module.css
  src/components/GlobalNavigation/components/MobileView/components/ArticleList/ArticleList.tsx
  src/components/GlobalNavigation/components/PromotionCard/PromotionCard.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

Adjust secondary menu spacing on mobile
  src/components/GlobalNavigation/components/MobileView/components/ArticleCard/ArticleCard.module.css
  src/components/GlobalNavigation/components/MobileView/components/ArticleList/ArticleList.module.css
  src/components/GlobalNavigation/components/MobileView/components/SecondaryMenu/SecondaryMenu.module.css
Due: stylelint --fix --allow-empty-input

feat(nav polish): add height media query
  package-lock.json
  src/components/GlobalNavigation/components/MobileView/MobileView.module.css
Due: prettier --write, stylelint --fix --allow-empty-input

feat(nav polish): slow down panel fade
  src/components/GlobalNavigation/components/DesktopView/components/Panel/Panel.module.css
Due: stylelint --fix --allow-empty-input

chore(release): 1.17.0-navigation.3 [skip ci]
  dist/components/GlobalNavigation/index.js
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

Polished desktop
  src/components/GlobalNavigation/components/DesktopView/components/CloseButton/CloseButton.module.css
  src/components/GlobalNavigation/components/DesktopView/components/CollectionLayout/CollectionLayout.module.css
  src/components/GlobalNavigation/components/DesktopView/components/CollectionList/CollectionList.module.css
  src/components/GlobalNavigation/components/DesktopView/components/MenuItem/MenuItem.module.css
  src/components/GlobalNavigation/components/DesktopView/components/Panel/Panel.module.css
  src/components/GlobalNavigation/components/PromotionCard/PromotionCard.module.css
Due: stylelint --fix --allow-empty-input

chore: deploy Storbook to GH Pages on merge to main (#584)
  .github/workflows/tag-push.yml
Due: none

refactor(Comp Types): use React's FC to fix Storybook docs (#583)
  src/types/Component.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(IconLink): migrate to TS (#582)
  src/components/IconLink/IconLink.fixture.ts
  src/components/IconLink/IconLink.js
  src/components/IconLink/IconLink.spec.tsx
  src/components/IconLink/IconLink.tsx
  src/components/IconLink/IconLink.types.ts
  src/components/IconLink/__snapshots__/IconLink.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.18.0 [skip ci]
  dist/components/IconLink/index.d.ts
  dist/components/IconLink/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Component.types.d.ts
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(FooterBlock): migrate to TS (#581)
  src/components/FooterBlock/FooterBlock.fixture.ts
  src/components/FooterBlock/FooterBlock.spec.tsx
  src/components/FooterBlock/FooterBlock.tsx
  src/components/FooterBlock/FooterBlock.types.ts
  src/components/FooterBlock/__snapshots__/FooterBlock.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.19.0 [skip ci]
  dist/components/FooterBlock/index.d.ts
  dist/components/FooterBlock/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

fix(sticky-nav): correct transition behaviour and add bottom outline
  dist/sharedChunks/throttle.js
  src/components/GlobalNavigation/GlobalNavigation.hooks.ts
  src/components/GlobalNavigation/components/DesktopView/DesktopView.module.css
  src/components/GlobalNavigation/components/MobileView/MobileView.module.css
  src/components/GlobalNavigation/components/TabletView/TabletView.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 1.17.0-navigation.4 [skip ci]
  dist/components/Audio/index.js
  dist/components/GlobalNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

Fixed responsive bugs.
  src/components/GlobalNavigation/components/DesktopView/components/CollectionItem/CollectionItem.module.css
  src/components/GlobalNavigation/components/DesktopView/components/CollectionList/CollectionList.module.css
  src/components/GlobalNavigation/components/DesktopView/components/MenuItem/MenuItem.module.css
  src/components/GlobalNavigation/components/MobileView/components/ArticleList/ArticleList.module.css
  src/components/GlobalNavigation/components/PromotionCard/PromotionCard.module.css
Due: stylelint --fix --allow-empty-input

fix(accessibility): remove aria label submenu from ul
  src/components/GlobalNavigation/components/MobileView/components/NestedCollection/NestedCollection.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.17.0-navigation.5 [skip ci]
  dist/components/GlobalNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: create CHANGELOG during release (#585)
  .github/workflows/main-push.yml
  .releaserc
  package-lock.json
  package.json
Due: prettier --write

fix(DateSelector): use className prop (#586)
  src/components/DateSelector/DateSelector.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.19.1 [skip ci]
  CHANGELOG.md
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/DateSelector.js
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(DateSelector): export DateSelectorProps type
  src/components/DateSelector/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(Select): export SelectProps type
  src/components/Select/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

Path conditions:
  prettier --write: any of: **/*.{js,ts,tsx,json,md}
  eslint --fix --ignore-path .eslintignore --config .eslintrc: any of: **/*.{js,ts,tsx}
  jest --findRelatedTests --coverageThreshold '{}': any of: **/*.{js,ts,tsx}
  stylelint --fix --allow-empty-input: any of: **/*.css
