Repository cyrusxzw/new-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "**/*.{js,ts,tsx}": [
    "eslint --fix --ignore-path .eslintignore --config .eslintrc",
    "jest --findRelatedTests --coverageThreshold '{}'"
  ],
  "**/*.css": [
    "stylelint --fix --allow-empty-input"
  ]
}

feat(con-793): facial appointments
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/StoreDetailHeader.js
  src/components/StoreDetailHeader/StoreDetailHeader.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-793): day translations
  dist/compositions/StoreDetail/index.js
  src/compositions/StoreDetail/StoreDetail.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-793): revert
  dist/compositions/StoreDetail/index.js
  src/compositions/StoreDetail/StoreDetail.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-793): openingHours
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/StoreDetailHeader.js
  src/components/StoreDetailHeader/StoreDetailHeader.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

fix(TextInputV2): add styles when disabled
  src/components/TextInputV2/TextInputV2.module.css
  src/components/TextInputV2/TextInputV2.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 1.11.0-develop.38 [skip ci]
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/TextInputV2.js
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(con-793): fix opening hours
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/StoreDetailHeader.js
  src/components/StoreDetailHeader/StoreDetailHeader.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.11.0-develop.39 [skip ci]
  package.json
Due: prettier --write

chore(eslint): disable max lines/func in spec files
  .eslintrc
Due: none

chore(release): 1.11.0-develop.38 [skip ci]
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js.map
  dist/sharedChunks/TextInputV2.js
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(con-793): new build
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(DateSelector): make enhancements and fixes
  src/components/DateSelector/DateSelector.module.css
  src/components/DateSelector/DateSelector.spec.tsx
  src/components/DateSelector/DateSelector.stories.mdx
  src/components/DateSelector/DateSelector.tsx
  src/components/DateSelector/DateSelector.types.ts
  src/components/DateSelector/DateSelector.utils.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 1.11.0-develop.40 [skip ci]
  dist/components/DateSelector/index.d.ts
  dist/components/DateSelector/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 1.11.0-develop.41 [skip ci]
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

Created responsive text for desktop
  src/components/GlobalNavigation/components/DesktopView/components/CollectionItem/CollectionItem.module.css
  src/components/GlobalNavigation/components/DesktopView/components/CollectionList/CollectionList.module.css
  src/components/GlobalNavigation/components/PromotionCard/PromotionCard.module.css
Due: stylelint --fix --allow-empty-input

feat(DynamicForm): make enhancements (#571)
  src/compositions/DynamicForm/DynamicForm.fixture.ts
  src/compositions/DynamicForm/DynamicForm.module.css
  src/compositions/DynamicForm/DynamicForm.types.ts
  src/compositions/DynamicForm/FormField.tsx
  src/compositions/DynamicForm/wrappers/Checkbox.tsx
  src/compositions/DynamicForm/wrappers/DateSelector.tsx
  src/compositions/DynamicForm/wrappers/TextField.tsx
  src/compositions/DynamicForm/wrappers/index.ts
  src/compositions/DynamicForm/wrappers/wrappers.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 1.11.0-develop.42 [skip ci]
  dist/components/DateSelector/index.d.ts
  dist/components/DateSelector/index.js
  dist/compositions/DynamicForm/index.d.ts
  dist/compositions/DynamicForm/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/DateSelector.js
  dist/sharedChunks/DateSelector.types.d.ts
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(con-627): implement sticky nav logic for desktop
  src/components/GlobalNavigation/GlobalNavigation.context.tsx
  src/components/GlobalNavigation/GlobalNavigation.hooks.ts
  src/components/GlobalNavigation/GlobalNavigation.module.css
  src/components/GlobalNavigation/GlobalNavigation.tsx
  src/components/GlobalNavigation/GlobalNavigation.types.ts
  src/components/GlobalNavigation/components/DesktopView/DesktopView.module.css
  src/components/GlobalNavigation/components/DesktopView/DesktopView.tsx
  src/components/GlobalNavigation/components/Logo/Logo.module.css
  src/constants/nav.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(con-627): implement sticky nav logic for mobile
  src/components/GlobalNavigation/components/MobileView/MobileView.module.css
  src/components/GlobalNavigation/components/MobileView/MobileView.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(con-627): implement sticky nav logic for tablet
  src/components/GlobalNavigation/components/TabletView/TabletView.module.css
  src/components/GlobalNavigation/components/TabletView/TabletView.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(con-627): clean up code, unused return value, nav constants file and css variables
  src/components/GlobalNavigation/GlobalNavigation.hooks.ts
  src/components/GlobalNavigation/components/DesktopView/DesktopView.module.css
  src/components/GlobalNavigation/components/TabletView/TabletView.tsx
  src/constants/nav.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

fix(con-627): apply onload listener to account for sticky showing on scrolled page reload
  src/components/GlobalNavigation/GlobalNavigation.context.tsx
  src/components/GlobalNavigation/GlobalNavigation.hooks.ts
  src/components/GlobalNavigation/GlobalNavigation.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

fix(con-627): block pointer click option through desktop nav on banners
  src/components/GlobalNavigation/components/DesktopView/DesktopView.module.css
Due: stylelint --fix --allow-empty-input

fix(con-627): block pointer click option through tablet nav on banners
  src/components/GlobalNavigation/components/TabletView/TabletView.module.css
Due: stylelint --fix --allow-empty-input

Polish to mobile ui and interaction
  src/components/GlobalNavigation/components/MobileView/MobileView.module.css
  src/components/GlobalNavigation/components/MobileView/components/ArticleCard/ArticleCard.module.css
  src/components/GlobalNavigation/components/MobileView/components/ArticleCard/ArticleCard.tsx
  src/components/GlobalNavigation/components/MobileView/components/ArticleList/ArticleList.module.css
  src/components/GlobalNavigation/components/MobileView/components/ArticleList/ArticleList.tsx
  src/components/GlobalNavigation/components/MobileView/components/SecondaryMenu/SecondaryMenu.module.css
  src/components/Transition/Transition.module.css
  src/styles/variables/easing.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(navigation): remove taxonomy of design element (#573)
  src/components/GlobalNavigation/GlobalNavigation.fixture.tsx
  src/components/GlobalNavigation/GlobalNavigation.types.ts
  src/components/GlobalNavigation/GlobalNavigation.utils.ts
  src/components/GlobalNavigation/components/DesktopView/components/CollectionLayout/CollectionLayout.tsx
  src/components/GlobalNavigation/components/TabletView/components/ReadMenu/ReadMenu.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.11.0-develop.43 [skip ci]
  dist/components/GlobalNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

fix(con-541): issues with legacy navigation closing (#572)
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.11.0-develop.44 [skip ci]
  dist/components/GlobalNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.13.0 [skip ci]
  package.json
Due: prettier --write

chore(release): 1.13.0-develop.1 [skip ci]
  package.json
Due: prettier --write
