Repository cyrusxzw/new-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore: rebuild with new tests
  src/components/PersonalInfoSummary/PersonalInfoSummary.spec.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: change to shouldHaveNameSpace
  dist/components/PersonalInfoSummary/index.d.ts
  dist/components/PersonalInfoSummary/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  src/components/PersonalInfoSummary/PersonalInfoSummary.spec.tsx
  src/components/PersonalInfoSummary/PersonalInfoSummary.stories.mdx
  src/components/PersonalInfoSummary/PersonalInfoSummary.tsx
  src/components/PersonalInfoSummary/PersonalInfoSummary.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: clean up extended styles
  src/components/GlobalNavigation/GlobalNavigation.context.tsx
  src/components/GlobalNavigation/GlobalNavigation.hooks.ts
  src/components/GlobalNavigation/GlobalNavigation.types.ts
  src/components/GlobalNavigation/components/DesktopView/DesktopView.module.css
  src/components/GlobalNavigation/components/DesktopView/DesktopView.tsx
  src/components/GlobalNavigation/components/DesktopView/components/CollectionItem/CollectionItem.tsx
  src/components/GlobalNavigation/components/DesktopView/components/Panel/Panel.tsx
  src/components/GlobalNavigation/components/Logo/Logo.utils.ts
  src/components/GlobalNavigation/components/MobileView/MobileView.module.css
  src/components/GlobalNavigation/components/PromotionCard/PromotionCard.module.css
  src/components/GlobalNavigation/components/TabletView/TabletView.module.css
  src/components/StoreDetailHeader/StoreDetailHeader.module.css
  src/components/StoreHoursList/StoreHoursList.module.css
  src/customHooks/useTrapFocus/useTrapFocus.ts
  src/styles/mixins/index.css
  src/styles/mixins/ornamental.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(legacy-menu): adding legacy menu mode to support old nav
  dist/components/GlobalNavigation/index.d.ts
  dist/components/GlobalNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  src/components/GlobalNavigation/GlobalNavigation.context.tsx
  src/components/GlobalNavigation/GlobalNavigation.fixture.tsx
  src/components/GlobalNavigation/GlobalNavigation.types.ts
  src/components/GlobalNavigation/components/DesktopView/DesktopView.module.css
  src/components/GlobalNavigation/components/DesktopView/DesktopView.tsx
  src/components/GlobalNavigation/components/DesktopView/components/Panel/Panel.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 1.11.0-develop.32 [skip ci]
  package.json
Due: prettier --write

chore: update aesop-code-styles
  .eslintrc
  package-lock.json
  package.json
Due: prettier --write

test(con-626): write ArticleCard unit tests
  src/components/GlobalNavigation/components/MobileView/components/ArticleCard/ArticleCard.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/ArticleCard/__snapshots__/ArticleCard.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

test(con-626): write ArticleList unit tests part 1
  src/components/GlobalNavigation/components/MobileView/components/ArticleCard/ArticleCard.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/ArticleList/ArticleList.fixture.ts
  src/components/GlobalNavigation/components/MobileView/components/ArticleList/ArticleList.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/ArticleList/__snapshots__/ArticleList.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

test(con-626): write ArticleList unit tests part 2
  src/components/GlobalNavigation/__mocks__/GlobalNavigation.context.tsx
  src/components/GlobalNavigation/components/MobileView/components/ArticleList/ArticleList.spec.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

test(con-626): write Collection unit tests
  src/components/GlobalNavigation/__mocks__/GlobalNavigation.context.tsx
  src/components/GlobalNavigation/components/MobileView/__mocks__/MobileView.context.tsx
  src/components/GlobalNavigation/components/MobileView/components/ArticleList/ArticleList.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/Collection/Collection.fixture.ts
  src/components/GlobalNavigation/components/MobileView/components/Collection/Collection.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/Collection/__snapshots__/Collection.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

test(con-626): add Header and Link tests part 1
  src/components/GlobalNavigation/__mocks__/GlobalNavigation.context.tsx
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/Header/__snapshots__/Header.spec.tsx.snap
  src/components/GlobalNavigation/components/MobileView/components/Link/Link.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/Link/__snapshots__/Link.spec.tsx.snap
  src/utils/environment/environment.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

test(con-626): add listitem tests
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/Link/Link.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/ListItem/ListItem.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/ListItem/__snapshots__/ListItem.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-626): add Header and Link tests part 2 with small header component fix
  src/components/GlobalNavigation/__mocks__/GlobalNavigation.context.tsx
  src/components/GlobalNavigation/components/MobileView/__mocks__/MobileView.context.tsx
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.tsx
  src/components/GlobalNavigation/components/MobileView/components/Header/__snapshots__/Header.spec.tsx.snap
  src/components/GlobalNavigation/components/MobileView/components/Link/Link.spec.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

test(con-626): add nested collection tests
  src/components/GlobalNavigation/components/MobileView/__mocks__/MobileView.context.tsx
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/NestedCollection/NestedCollection.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/NestedCollection/__snapshots__/NestedCollection.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

test(con-626): add primary menu tests
  src/components/GlobalNavigation/components/MobileView/components/NestedCollection/NestedCollection.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/PrimaryMenu/PrimaryMenu.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/PrimaryMenu/__snapshots__/PrimaryMenu.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

test(con-626): add secondary menu tests part 1
  src/components/GlobalNavigation/components/MobileView/components/PrimaryMenu/PrimaryMenu.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/SecondaryMenu/SecondaryMenu.fixture.ts
  src/components/GlobalNavigation/components/MobileView/components/SecondaryMenu/SecondaryMenu.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/SecondaryMenu/__snapshots__/SecondaryMenu.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

test(con-626): refactor article card, list and collection tests for mobile view
  src/components/GlobalNavigation/components/MobileView/components/ArticleCard/ArticleCard.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/Collection/Collection.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/Collection/__snapshots__/Collection.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

test(con-626): refactor further and remove snapshots
  src/components/GlobalNavigation/components/MobileView/components/ArticleCard/ArticleCard.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/ArticleCard/__snapshots__/ArticleCard.spec.tsx.snap
  src/components/GlobalNavigation/components/MobileView/components/ArticleList/ArticleList.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/ArticleList/__snapshots__/ArticleList.spec.tsx.snap
  src/components/GlobalNavigation/components/MobileView/components/Collection/Collection.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/Collection/__snapshots__/Collection.spec.tsx.snap
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/Header/__snapshots__/Header.spec.tsx.snap
  src/components/GlobalNavigation/components/MobileView/components/Link/Link.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/Link/__snapshots__/Link.spec.tsx.snap
  src/components/GlobalNavigation/components/MobileView/components/ListItem/ListItem.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/ListItem/__snapshots__/ListItem.spec.tsx.snap
  src/components/GlobalNavigation/components/MobileView/components/NestedCollection/NestedCollection.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/NestedCollection/__snapshots__/NestedCollection.spec.tsx.snap
  src/components/GlobalNavigation/components/MobileView/components/PrimaryMenu/PrimaryMenu.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/PrimaryMenu/__snapshots__/PrimaryMenu.spec.tsx.snap
  src/components/GlobalNavigation/components/MobileView/components/SecondaryMenu/SecondaryMenu.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/SecondaryMenu/__snapshots__/SecondaryMenu.spec.tsx.snap
  src/utils/environment/environment.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(con-626): refactor test names and assertions
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.tsx
  src/components/GlobalNavigation/components/MobileView/components/Link/Link.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/NestedCollection/NestedCollection.spec.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-626): add data-testids and cleanup tests
  src/components/GlobalNavigation/components/MobileView/components/ArticleCard/ArticleCard.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/ArticleList/ArticleList.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/Collection/Collection.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/Collection/Collection.tsx
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.tsx
  src/components/GlobalNavigation/components/MobileView/components/ListItem/ListItem.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/NestedCollection/NestedCollection.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/PrimaryMenu/PrimaryMenu.spec.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.11.0-develop.33 [skip ci]
  dist/components/GlobalNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(legacy-menu): adding legacy menu mode to support old nav
  src/components/GlobalNavigation/components/DesktopView/DesktopView.tsx
  src/components/GlobalNavigation/components/TabletView/TabletView.module.css
  src/components/GlobalNavigation/components/TabletView/TabletView.tsx
  src/components/GlobalNavigation/components/TabletView/components/SelectionPanel/SelectionPanel.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 1.11.0-develop.34 [skip ci]
  dist/components/GlobalNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(Select): add isEnabled prop
  src/components/Select/Select.module.css
  src/components/Select/Select.spec.tsx
  src/components/Select/Select.stories.mdx
  src/components/Select/Select.tsx
  src/components/Select/Select.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 1.11.0-develop.35 [skip ci]
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Select.js
  dist/sharedChunks/Select.types.d.ts
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

refactor(DynamicForm): improve TS defintion
  src/compositions/DynamicForm/DynamicForm.tsx
  src/compositions/DynamicForm/DynamicForm.types.ts
  src/compositions/DynamicForm/FormField.tsx
  src/compositions/DynamicForm/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(DateSelector): add a Date Selector component
  src/components/DateSelector/DateSelector.module.css
  src/components/DateSelector/DateSelector.spec.tsx
  src/components/DateSelector/DateSelector.stories.mdx
  src/components/DateSelector/DateSelector.tsx
  src/components/DateSelector/DateSelector.types.ts
  src/components/DateSelector/DateSelector.utils.spec.ts
  src/components/DateSelector/DateSelector.utils.ts
  src/components/DateSelector/index.ts
  src/components/index.ts
  src/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 1.11.0-develop.36 [skip ci]
  dist/components/DateSelector/index.d.ts
  dist/components/DateSelector/index.js
  dist/compositions/DynamicForm/index.d.ts
  dist/compositions/DynamicForm/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(legacyMenu): change variable name to isLegacyMenu
  src/components/GlobalNavigation/GlobalNavigation.context.tsx
  src/components/GlobalNavigation/GlobalNavigation.fixture.tsx
  src/components/GlobalNavigation/GlobalNavigation.types.ts
  src/components/GlobalNavigation/components/DesktopView/DesktopView.module.css
  src/components/GlobalNavigation/components/DesktopView/DesktopView.tsx
  src/components/GlobalNavigation/components/DesktopView/components/Panel/Panel.tsx
  src/components/GlobalNavigation/components/TabletView/TabletView.module.css
  src/components/GlobalNavigation/components/TabletView/TabletView.tsx
  src/components/GlobalNavigation/components/TabletView/components/PrimaryMenu/PrimaryMenu.tsx
  src/components/GlobalNavigation/components/TabletView/components/SelectionPanel/SelectionPanel.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 1.11.0-develop.37 [skip ci]
  dist/components/GlobalNavigation/index.d.ts
  dist/components/GlobalNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(con-793): facialAppointments
  src/components/StoreDetailHeader/StoreDetailHeader.tsx
  src/components/StoreDetailHeader/StoreDetailHeader.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(eslint): disable max lines/func in spec files
  .eslintrc
Due: none

feat(con-793): facialAppointments
  src/components/StoreDetailHeader/StoreDetailHeader.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-793): facial appointments
  src/components/StoreDetailHeader/StoreDetailHeader.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-793): facial appointments
  dist/components/StoreDetailHeader/index.d.ts
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/StoreDetailHeader.js
  src/components/StoreDetailHeader/StoreDetailHeader.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-793): facial appointments
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/StoreDetailHeader.js
  src/components/StoreDetailHeader/StoreDetailHeader.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

Path conditions:
  prettier --write: any of: **/*.{js,ts,tsx,json,md}
  eslint --fix --ignore-path .eslintignore --config .eslintrc: any of: **/*.{js,ts,tsx}
  jest --findRelatedTests --coverageThreshold '{}': any of: **/*.{js,ts,tsx}
  stylelint --fix --allow-empty-input: any of: **/*.css
