Repository cyrusxzw/new-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "**/*.{js,ts,tsx}": [
    "eslint --fix --ignore-path .eslintignore --config .eslintrc",
    "jest --findRelatedTests --coverageThreshold '{}'"
  ],
  "**/*.css": [
    "stylelint --fix --allow-empty-input"
  ]
}

store header styling
  dist/sharedChunks/StoreHoursList.js
  dist/styles.css
  src/components/StoreHoursList/StoreHoursList.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat: typo
  dist/index.cjs.js.map
  dist/index.esm.js.map
  src/components/GlobalNavigation/components/Logo/Logo.tsx
  src/components/GlobalNavigation/components/Logo/Logo.utils.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

store header styling
  dist/sharedChunks/StoreDetailHeader.js
  dist/styles.css
  src/components/StoreDetailHeader/StoreDetailHeader.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat: fix active panel issue
  dist/components/GlobalNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  src/components/GlobalNavigation/components/DesktopView/components/Panel/Panel.module.css
  src/components/GlobalNavigation/components/DesktopView/components/Panel/Panel.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 1.11.0-develop.26 [skip ci]
  package.json
Due: prettier --write

store header styling
  dist/sharedChunks/StoreDetailHeader.js
  dist/sharedChunks/StoreHoursList.js
  dist/styles.css
  src/components/StoreDetailHeader/StoreDetailHeader.module.css
  src/components/StoreHoursList/StoreHoursList.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 1.11.0-develop.27 [skip ci]
  package.json
Due: prettier --write

store header styling
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/StoreHoursList.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

store header styling
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: add dataTestRefs for desktop view
  src/components/GlobalNavigation/components/DesktopView/components/CollectionImage/CollectionImage.tsx
  src/components/GlobalNavigation/components/DesktopView/components/CollectionImage/CollectionImage.types.ts
  src/components/GlobalNavigation/components/DesktopView/components/CollectionLayout/CollectionLayout.tsx
  src/components/GlobalNavigation/components/DesktopView/components/CollectionList/CollectionList.tsx
  src/components/GlobalNavigation/components/DesktopView/components/CollectionList/CollectionList.types.ts
  src/components/GlobalNavigation/components/PromotionCard/PromotionCard.tsx
  src/components/GlobalNavigation/components/PromotionCard/PromotionCard.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: add CODEOWNERS
  .github/CODEOWNERS
Due: none

fix: include tablet view context in exports
  src/components/GlobalNavigation/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.11.0-develop.29 [skip ci]
  dist/components/GlobalNavigation/index.d.ts
  dist/components/GlobalNavigation/index.js
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-721): google map theme
  src/components/GoogleMap/GoogleMap.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-721): googlemap theme
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/GoogleMap.js
  src/components/GoogleMap/GoogleMap.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-721): googlemap theme
  dist/components/GoogleMap/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/GoogleMap.js
  src/components/GoogleMap/GoogleMap.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-721): google maps theme
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/GoogleMap.js
  src/components/GoogleMap/GoogleMap.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-721): google map theme
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/GoogleMap.js
  src/components/GoogleMap/GoogleMap.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-721): google map theme
  dist/compositions/StoreDetail/index.js
  src/components/GoogleMap/GoogleMap.fixture.js
  src/components/GoogleMap/GoogleMap.spec.js
  src/components/GoogleMap/__snapshots__/GoogleMap.spec.js.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: remove name space for KR
  src/components/PersonalInfoSummary/PersonalInfoSummary.spec.tsx
  src/components/PersonalInfoSummary/PersonalInfoSummary.stories.mdx
  src/components/PersonalInfoSummary/PersonalInfoSummary.tsx
  src/components/PersonalInfoSummary/PersonalInfoSummary.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-721): google map
  src/components/GoogleMap/GoogleMap.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.11.0-develop.30 [skip ci]
  dist/components/GoogleMap/index.d.ts
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/GoogleMap.js
  dist/sharedChunks/StoreDetailHeader.js
  dist/sharedChunks/StoreHoursList.js
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore: build
  dist/components/PersonalInfoSummary/index.d.ts
  dist/components/PersonalInfoSummary/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  src/components/PersonalInfoSummary/PersonalInfoSummary.spec.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: build
  dist/sharedChunks/StoreDetailHeader.js
  dist/sharedChunks/StoreHoursList.js
  dist/styles.css
  src/components/PersonalInfoSummary/PersonalInfoSummary.spec.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore: rebuild
  dist/index.cjs.js.map
  dist/index.esm.js.map
  dist/sharedChunks/StoreDetailHeader.js
  dist/sharedChunks/StoreHoursList.js
  dist/styles.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

fix: fix code climate issue
  src/components/PersonalInfoSummary/PersonalInfoSummary.spec.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: use jest-progress-bar-reporter to trim logs
  jest.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: update eslint config for test files
  .eslintrc
Due: none
