Repository cyrusxzw/new-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 1.20.0 [skip ci]
  CHANGELOG.md
  dist/components/DateSelector/index.d.ts
  dist/components/Select/index.d.ts
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: ret-452 back in stock notification cta
  dist/components/Modal/index.js
  dist/components/ProductDetailHeader/index.d.ts
  dist/components/ProductDetailHeader/index.js
  dist/compositions/ProductDetail/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Modal.js
  dist/sharedChunks/ProductDetailHeader.js
  dist/sharedChunks/Variant.types.d.ts
  dist/styles.css
  package-lock.json
  src/components/ProductDetailHeader/ProductDetailHeader.fixture.ts
  src/components/ProductDetailHeader/ProductDetailHeader.stories.mdx
  src/components/ProductDetailHeader/ProductDetailHeader.tsx
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.fixture.ts
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.module.css
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.tsx
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.types.ts
  src/components/ProductDetailHeader/components/ProductDetailImage/ProductDetailImage.fixture.ts
  src/components/StoreDetailHeader/StoreDetailHeader.tsx
  src/types/Variant.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

refactor(nav-polish): write media queries using vars, remove commented css & add explicit aside class
  src/components/GlobalNavigation/components/DesktopView/components/CloseButton/CloseButton.module.css
  src/components/GlobalNavigation/components/DesktopView/components/CollectionItem/CollectionItem.module.css
  src/components/GlobalNavigation/components/DesktopView/components/CollectionLayout/CollectionLayout.module.css
  src/components/GlobalNavigation/components/DesktopView/components/CollectionList/CollectionList.module.css
  src/components/GlobalNavigation/components/DesktopView/components/MenuItem/MenuItem.module.css
  src/components/GlobalNavigation/components/MobileView/components/ArticleCard/ArticleCard.module.css
  src/components/GlobalNavigation/components/MobileView/components/ArticleList/ArticleList.module.css
  src/components/GlobalNavigation/components/MobileView/components/ArticleList/ArticleList.tsx
  src/components/GlobalNavigation/components/PromotionCard/PromotionCard.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

Adjusted space in columns for large line listings.
  src/components/GlobalNavigation/components/DesktopView/components/CollectionLayout/CollectionLayout.module.css
Due: stylelint --fix --allow-empty-input

chore: move the logic out of gel
  dist/components/Modal/index.js
  dist/components/ProductDetailHeader/index.d.ts
  dist/components/ProductDetailHeader/index.js
  dist/compositions/ProductDetail/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Modal.js
  dist/sharedChunks/ProductDetailHeader.js
  dist/sharedChunks/Variant.types.d.ts
  src/components/ProductDetailHeader/ProductDetailHeader.fixture.ts
  src/components/ProductDetailHeader/ProductDetailHeader.stories.mdx
  src/components/ProductDetailHeader/ProductDetailHeader.tsx
  src/components/ProductDetailHeader/ProductDetailHeader.types.ts
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.fixture.ts
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.tsx
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.types.ts
  src/components/ProductDetailHeader/components/ProductDetailImage/ProductDetailImage.fixture.ts
  src/types/Variant.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: remove used css style
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/ProductDetailHeader.js
  dist/styles.css
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore: add disableOutOfStockFeature to variant type
  src/types/Variant.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: build
  dist/index.d.ts
  dist/sharedChunks/Variant.types.d.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

Refine responsive text for large and small screens
  src/components/GlobalNavigation/components/DesktopView/components/CloseButton/CloseButton.module.css
  src/components/GlobalNavigation/components/DesktopView/components/CollectionItem/CollectionItem.module.css
  src/components/GlobalNavigation/components/DesktopView/components/CollectionLayout/CollectionLayout.module.css
  src/components/GlobalNavigation/components/DesktopView/components/CollectionList/CollectionList.module.css
  src/components/GlobalNavigation/components/DesktopView/components/MenuItem/MenuItem.module.css
Due: stylelint --fix --allow-empty-input

Update column padding to be responsive
  src/components/GlobalNavigation/components/DesktopView/components/CollectionLayout/CollectionLayout.module.css
Due: stylelint --fix --allow-empty-input

Added Card heading to Athaeneum
  src/components/GlobalNavigation/components/DesktopView/components/CollectionItem/CollectionItem.module.css
  src/components/GlobalNavigation/components/DesktopView/components/CollectionList/CollectionList.module.css
  src/components/GlobalNavigation/components/MobileView/MobileView.module.css
  src/components/GlobalNavigation/components/MobileView/components/ArticleCard/ArticleCard.module.css
  src/components/GlobalNavigation/components/MobileView/components/ArticleList/ArticleList.module.css
  src/components/GlobalNavigation/components/MobileView/components/ArticleList/ArticleList.tsx
  src/components/GlobalNavigation/components/MobileView/components/SecondaryMenu/SecondaryMenu.module.css
  src/components/GlobalNavigation/components/PromotionCard/PromotionCard.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

Update cardHeading
  src/components/GlobalNavigation/components/MobileView/MobileView.module.css
  src/components/GlobalNavigation/components/MobileView/components/ArticleList/ArticleList.tsx
  src/components/GlobalNavigation/components/MobileView/components/SecondaryMenu/SecondaryMenu.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

fix(styling): adjust styling with media query variables and cleanup
  src/components/GlobalNavigation/components/DesktopView/components/CloseButton/CloseButton.module.css
  src/components/GlobalNavigation/components/DesktopView/components/MenuItem/MenuItem.module.css
  src/components/GlobalNavigation/components/MobileView/MobileView.module.css
  src/components/GlobalNavigation/components/MobileView/components/ArticleList/ArticleList.module.css
  src/components/GlobalNavigation/components/MobileView/components/ArticleList/ArticleList.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

Update tablet font to be consistent with Desktop and Mobile
  src/components/GlobalNavigation/components/DesktopView/components/CollectionLayout/CollectionLayout.module.css
  src/components/GlobalNavigation/components/PromotionCard/PromotionCard.module.css
  src/components/GlobalNavigation/components/TabletView/components/CollectionItem/CollectionItem.module.css
Due: stylelint --fix --allow-empty-input

chore(release): 1.18.0-navigation.2 [skip ci]
  dist/components/GlobalNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

fix(styling): adjust font size for collection item label
  src/components/GlobalNavigation/components/TabletView/TabletView.module.css
  src/components/GlobalNavigation/components/TabletView/components/CollectionItem/CollectionItem.module.css
Due: stylelint --fix --allow-empty-input

chore(release): 1.18.0-navigation.3 [skip ci]
  dist/components/GlobalNavigation/index.js
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(Textarea): migrate to TypeScript (#589)
  src/components/Textarea/Textarea.spec.tsx
  src/components/Textarea/Textarea.stories.mdx
  src/components/Textarea/Textarea.tsx
  src/components/Textarea/Textarea.types.ts
  src/components/Textarea/__snapshots__/Textarea.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.21.0 [skip ci]
  CHANGELOG.md
  dist/components/Textarea/index.d.ts
  dist/components/Textarea/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(TextInput): migrate to TypeScript (#590)
  src/components/TextInput/TextInput.js
  src/components/TextInput/TextInput.spec.tsx
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/TextInput.type.ts
  src/components/TextInput/__snapshots__/TextInput.spec.tsx.snap
  src/compositions/Footer/__snapshots__/Footer.spec.js.snap
  src/compositions/NewsletterSignUp/__snapshots__/NewsletterSignUp.spec.js.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.22.0 [skip ci]
  CHANGELOG.md
  dist/components/TextInput/index.d.ts
  dist/components/TextInput/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/_rollupPluginBabelHelpers.js
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(automation-testing): adding data test refs and ids to aid automation
  src/components/Button/Button.tsx
  src/components/Button/Button.types.tsx
  src/components/GlobalNavigation/components/DesktopView/components/CollectionLayout/CollectionLayout.tsx
  src/components/GlobalNavigation/components/DesktopView/components/MenuItem/MenuItem.tsx
  src/components/GlobalNavigation/components/DesktopView/components/MenuItem/MenuItem.types.ts
  src/components/GlobalNavigation/components/DesktopView/components/PrimaryMenu/PrimaryMenu.tsx
  src/components/GlobalNavigation/components/DesktopView/components/SecondaryMenu/SecondaryMenu.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.18.0-navigation.4 [skip ci]
  dist/components/Button/index.d.ts
  dist/components/GlobalNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Button.js
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: add tablet tracking for new navigation
  src/components/GlobalNavigation/GlobalNavigation.fixture.tsx
  src/components/GlobalNavigation/GlobalNavigation.types.ts
  src/components/GlobalNavigation/components/DesktopView/components/CollectionList/CollectionList.spec.tsx
  src/components/GlobalNavigation/components/TabletView/TabletView.tsx
  src/components/GlobalNavigation/components/TabletView/components/ArticleCard/ArticleCard.tsx
  src/components/GlobalNavigation/components/TabletView/components/CollectionList/CollectionList.tsx
  src/components/GlobalNavigation/components/TabletView/components/CollectionList/CollectionList.types.ts
  src/components/GlobalNavigation/components/TabletView/components/PrimaryMenu/PrimaryMenu.tsx
  src/components/GlobalNavigation/components/TabletView/components/PrimaryMenu/PrimaryMenu.types.ts
  src/components/GlobalNavigation/components/TabletView/components/TopLevelCollectionLayout/TopLevelCollectionLayout.tsx
  src/components/GlobalNavigation/components/TabletView/components/TopLevelCollectionLayout/TopLevelCollectionLayout.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: add mobile tracking for navigation
  src/components/GlobalNavigation/GlobalNavigation.context.tsx
  src/components/GlobalNavigation/GlobalNavigation.types.ts
  src/components/GlobalNavigation/__mocks__/GlobalNavigation.context.tsx
  src/components/GlobalNavigation/components/DesktopView/components/CollectionLayout/CollectionLayout.fixture.ts
  src/components/GlobalNavigation/components/DesktopView/components/CollectionList/CollectionList.spec.tsx
  src/components/GlobalNavigation/components/MobileView/MobileView.tsx
  src/components/GlobalNavigation/components/MobileView/components/ArticleCard/ArticleCard.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/ArticleCard/ArticleCard.tsx
  src/components/GlobalNavigation/components/MobileView/components/ArticleCard/ArticleCard.types.ts
  src/components/GlobalNavigation/components/MobileView/components/Collection/Collection.fixture.ts
  src/components/GlobalNavigation/components/MobileView/components/Collection/Collection.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/Collection/Collection.tsx
  src/components/GlobalNavigation/components/MobileView/components/Collection/Collection.types.ts
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.tsx
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.types.ts
  src/components/GlobalNavigation/components/MobileView/components/Link/Link.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/Link/Link.tsx
  src/components/GlobalNavigation/components/MobileView/components/Link/Link.types.ts
  src/components/GlobalNavigation/components/MobileView/components/ListItem/ListItem.tsx
  src/components/GlobalNavigation/components/MobileView/components/ListItem/ListItem.types.ts
  src/components/GlobalNavigation/components/MobileView/components/NestedCollection/NestedCollection.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/NestedCollection/NestedCollection.tsx
  src/components/GlobalNavigation/components/MobileView/components/NestedCollection/NestedCollection.types.ts
  src/components/GlobalNavigation/components/MobileView/components/SecondaryMenu/SecondaryMenu.tsx
  src/components/GlobalNavigation/components/MobileView/components/SecondaryMenu/SecondaryMenu.types.ts
  src/components/GlobalNavigation/components/PromotionCard/PromotionCard.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

fix: use boolean to avoid impression escape spam, use ids for eng labels, refactor and cleanup
  src/components/GlobalNavigation/GlobalNavigation.fixture.tsx
  src/components/GlobalNavigation/GlobalNavigation.types.ts
  src/components/GlobalNavigation/components/DesktopView/DesktopView.tsx
  src/components/GlobalNavigation/components/DesktopView/DesktopView.types.ts
  src/components/GlobalNavigation/components/DesktopView/components/CollectionItem/CollectionItem.tsx
  src/components/GlobalNavigation/components/DesktopView/components/CollectionLayout/CollectionLayout.tsx
  src/components/GlobalNavigation/components/DesktopView/components/CollectionList/CollectionList.fixture.ts
  src/components/GlobalNavigation/components/DesktopView/components/CollectionList/CollectionList.spec.tsx
  src/components/GlobalNavigation/components/DesktopView/components/CollectionList/CollectionList.tsx
  src/components/GlobalNavigation/components/DesktopView/components/CollectionList/CollectionList.types.ts
  src/components/GlobalNavigation/components/DesktopView/components/PrimaryMenu/PrimaryMenu.tsx
  src/components/GlobalNavigation/components/DesktopView/components/PrimaryMenu/PrimaryMenu.types.ts
  src/components/GlobalNavigation/components/MobileView/MobileView.tsx
  src/components/GlobalNavigation/components/MobileView/components/ArticleCard/ArticleCard.tsx
  src/components/GlobalNavigation/components/MobileView/components/Collection/Collection.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/Collection/Collection.tsx
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.tsx
  src/components/GlobalNavigation/components/MobileView/components/Link/Link.tsx
  src/components/GlobalNavigation/components/MobileView/components/NestedCollection/NestedCollection.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/NestedCollection/NestedCollection.tsx
  src/components/GlobalNavigation/components/PromotionCard/PromotionCard.tsx
  src/components/GlobalNavigation/components/PromotionCard/PromotionCard.types.ts
  src/components/GlobalNavigation/components/TabletView/TabletView.tsx
  src/components/GlobalNavigation/components/TabletView/TabletView.types.ts
  src/components/GlobalNavigation/components/TabletView/components/ArticleCard/ArticleCard.tsx
  src/components/GlobalNavigation/components/TabletView/components/ArticleCard/ArticleCard.types.ts
  src/components/GlobalNavigation/components/TabletView/components/ArticleList/ArticleList.types.ts
  src/components/GlobalNavigation/components/TabletView/components/CollectionList/CollectionList.tsx
  src/components/GlobalNavigation/components/TabletView/components/CollectionList/CollectionList.types.ts
  src/components/GlobalNavigation/components/TabletView/components/PrimaryMenu/PrimaryMenu.tsx
  src/components/GlobalNavigation/components/TabletView/components/PrimaryMenu/PrimaryMenu.types.ts
  src/components/GlobalNavigation/components/TabletView/components/ReadMenu/ReadMenu.tsx
  src/components/GlobalNavigation/components/TabletView/components/TopLevelCollectionLayout/TopLevelCollectionLayout.tsx
  src/components/GlobalNavigation/components/TabletView/components/TopLevelCollectionLayout/TopLevelCollectionLayout.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: rename backInStockNotification
  dist/components/ProductDetailHeader/index.d.ts
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/ProductDetailHeader.js
  src/components/ProductDetailHeader/ProductDetailHeader.stories.mdx
  src/components/ProductDetailHeader/ProductDetailHeader.tsx
  src/components/ProductDetailHeader/ProductDetailHeader.types.ts
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.tsx
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.23.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

feat(RadioGroup): migrate to TypeScript (#597)
  src/components/RadioGroup/RadioGroup.fixture.ts
  src/components/RadioGroup/RadioGroup.spec.tsx
  src/components/RadioGroup/RadioGroup.stories.mdx
  src/components/RadioGroup/RadioGroup.tsx
  src/components/RadioGroup/RadioGroup.types.ts
  src/components/RadioGroup/__snapshots__/RadioGroup.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.24.0 [skip ci]
  CHANGELOG.md
  dist/components/RadioGroup/index.d.ts
  dist/components/RadioGroup/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/RadioGroup.js
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(ReadMore): migrate to TypeScript (#598)
  src/components/ReadMore/ReadMore.fixture.ts
  src/components/ReadMore/ReadMore.spec.tsx
  src/components/ReadMore/ReadMore.tsx
  src/components/ReadMore/ReadMore.types.ts
  src/components/ReadMore/__snapshots__/ReadMore.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.25.0 [skip ci]
  CHANGELOG.md
  dist/components/ReadMore/index.d.ts
  dist/components/ReadMore/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(NavigationBar): migrate to TypeScript (#599)
  src/components/NavigationBar/NavigationBar.fixture.ts
  src/components/NavigationBar/NavigationBar.spec.tsx
  src/components/NavigationBar/NavigationBar.tsx
  src/components/NavigationBar/NavigationBar.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.26.0 [skip ci]
  CHANGELOG.md
  dist/components/NavigationBar/index.d.ts
  dist/components/NavigationBar/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

fix: use id for secondary menu label in mobile view & address PR comments
  src/components/GlobalNavigation/GlobalNavigation.fixture.tsx
  src/components/GlobalNavigation/GlobalNavigation.types.ts
  src/components/GlobalNavigation/__mocks__/GlobalNavigation.context.tsx
  src/components/GlobalNavigation/components/DesktopView/DesktopView.tsx
  src/components/GlobalNavigation/components/DesktopView/components/CollectionItem/CollectionItem.tsx
  src/components/GlobalNavigation/components/DesktopView/components/CollectionList/CollectionList.spec.tsx
  src/components/GlobalNavigation/components/DesktopView/components/PrimaryMenu/PrimaryMenu.tsx
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/SecondaryMenu/SecondaryMenu.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: add ignore pattern for global navigation tests and address testing in near future
  jest.config.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: fix todo message numbering for nav & remove max line limits
  src/components/GlobalNavigation/components/DesktopView/components/CollectionItem/CollectionItem.fixture.ts
  src/components/GlobalNavigation/components/DesktopView/components/CollectionItem/CollectionItem.spec.tsx
  src/components/GlobalNavigation/components/DesktopView/components/CollectionLayout/CollectionLayout.fixture.ts
  src/components/GlobalNavigation/components/DesktopView/components/CollectionLayout/CollectionLayout.tsx
  src/components/GlobalNavigation/components/DesktopView/components/CollectionList/CollectionList.spec.tsx
  src/components/GlobalNavigation/components/DesktopView/components/PrimaryMenu/PrimaryMenu.tsx
  src/components/GlobalNavigation/components/MobileView/MobileView.spec.tsx
  src/components/GlobalNavigation/components/MobileView/MobileView.tsx
  src/components/GlobalNavigation/components/MobileView/components/Collection/Collection.fixture.ts
  src/components/GlobalNavigation/components/MobileView/components/Collection/Collection.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/Collection/Collection.tsx
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.tsx
  src/components/GlobalNavigation/components/MobileView/components/ListItem/ListItem.fixture.ts
  src/components/GlobalNavigation/components/MobileView/components/NestedCollection/NestedCollection.fixture.ts
  src/components/GlobalNavigation/components/MobileView/components/NestedCollection/NestedCollection.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/PrimaryMenu/PrimaryMenu.fixture.ts
  src/components/GlobalNavigation/components/MobileView/components/SecondaryMenu/SecondaryMenu.fixture.ts
  src/components/GlobalNavigation/components/MobileView/components/SecondaryMenu/SecondaryMenu.tsx
  src/components/GlobalNavigation/components/TabletView/components/PrimaryMenu/PrimaryMenu.tsx
  src/components/GlobalNavigation/components/TabletView/components/TopLevelCollectionLayout/TopLevelCollectionLayout.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

Path conditions:
  prettier --write: any of: **/*.{js,ts,tsx,json,md}
  eslint --fix --ignore-path .eslintignore --config .eslintrc: any of: **/*.{js,ts,tsx}
  jest --findRelatedTests --coverageThreshold '{}': any of: **/*.{js,ts,tsx}
  stylelint --fix --allow-empty-input: any of: **/*.css
