Repository cyrusxzw/new-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "**/*.{js,ts,tsx}": [
    "eslint --fix --ignore-path .eslintignore --config .eslintrc",
    "jest --findRelatedTests --coverageThreshold '{}'"
  ],
  "**/*.css": [
    "stylelint --fix --allow-empty-input"
  ]
}

feat(con-595): update story
  src/components/MobileNavigation/MobileNavigation.stories.mdx
Due: none

feat: storybook update
  src/components/MobileNavigation/MobileNavigation.stories.mdx
Due: none

feat(con-595): add focus traps, styles and thematic logic and card comp
  .storybook/storybook.module.css
Due: stylelint --fix --allow-empty-input

feat(con-595): alignment adjustment and font paths
  .storybook/storybook.module.css
  src/components/MobileNavigation/MobileNavigation.module.css
  src/components/MobileNavigation/components/Collection/Collection.module.css
Due: stylelint --fix --allow-empty-input

feat(con-595): refactor method names and header props
  dist/components/MobileNavigation/index.d.ts
  dist/components/MobileNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  src/components/MobileNavigation/MobileNavigation.context.tsx
  src/components/MobileNavigation/MobileNavigation.fixture.ts
  src/components/MobileNavigation/MobileNavigation.spec.tsx
  src/components/MobileNavigation/MobileNavigation.stories.mdx
  src/components/MobileNavigation/MobileNavigation.tsx
  src/components/MobileNavigation/MobileNavigation.types.ts
  src/components/MobileNavigation/components/Collection/Collection.module.css
  src/components/MobileNavigation/components/Collection/Collection.tsx
  src/components/MobileNavigation/components/Header/Header.tsx
  src/components/MobileNavigation/components/Header/Header.types.ts
  src/components/MobileNavigation/components/NestedCollection/NestedCollection.module.css
  src/components/MobileNavigation/components/NestedCollection/NestedCollection.tsx
  src/components/MobileNavigation/components/SecondaryNavigation/SecondaryNavigation.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat: add storybook addon
  package-lock.json
  package.json
Due: prettier --write

feat: address feedback with missed linting rules
  src/components/MobileNavigation/MobileNavigation.tsx
  src/components/MobileNavigation/components/Header/Header.module.css
  src/components/Modal/Modal.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat: address type lint warning
  package-lock.json
  src/utils/mergeRefs/mergeRefs.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: refactor aria type
  src/components/Button/Button.tsx
  src/components/Button/Button.types.tsx
  src/types/Aria.types.ts
  src/types/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: correct logic
  src/components/MobileNavigation/MobileNavigation.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: rebuild
  dist/components/Button/index.d.ts
  dist/components/MobileNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Button.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: add data test refs
  dist/components/MobileNavigation/index.d.ts
  dist/components/MobileNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/useFocusOnFirst.js
  package-lock.json
  src/components/MobileNavigation/MobileNavigation.fixture.ts
  src/components/MobileNavigation/MobileNavigation.tsx
  src/components/MobileNavigation/MobileNavigation.types.ts
  src/components/MobileNavigation/components/Collection/Collection.tsx
  src/components/MobileNavigation/components/Collection/Collection.types.ts
  src/components/MobileNavigation/components/Header/Header.tsx
  src/components/MobileNavigation/components/SecondaryNavigation/SecondaryNavigation.tsx
  src/customHooks/useFocusOnFirst/useFocusOnFirst.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: update note
  src/components/MobileNavigation/MobileNavigation.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.11.0-develop.13 [skip ci]
  dist/index.cjs.js.map
  dist/index.esm.js.map
  package.json
Due: prettier --write

feat: add loading state
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Loading.js
  dist/styles.css
  src/components/Audio/__snapshots__/Audio.spec.tsx.snap
  src/components/BynderWidget/__snapshots__/BynderWidget.spec.tsx.snap
  src/components/Loading/Loading.module.css
  src/components/Loading/Loading.tsx
  src/components/Loading/__snapshots__/Loading.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore: build
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Loading.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: rebuild
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Loading.js
  dist/styles.css
  src/components/Audio/__snapshots__/Audio.spec.tsx.snap
  src/components/BynderWidget/__snapshots__/BynderWidget.spec.tsx.snap
  src/components/Loading/Loading.module.css
  src/components/Loading/Loading.tsx
  src/components/Loading/__snapshots__/Loading.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore: clean up code
  dist/index.d.ts
  dist/styles.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore: keep status role consistent
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Loading.js
  src/components/GoogleMap/__snapshots__/GoogleMap.spec.js.snap
  src/components/Loading/Loading.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: rebuild
  dist/index.cjs.js
  dist/index.esm.js
  dist/sharedChunks/Loading.js
  dist/styles.css
  src/components/Loading/Loading.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 1.11.0-develop.14 [skip ci]
  package.json
Due: prettier --write

feat: add notes
  dist/components/MobileNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  src/components/MobileNavigation/MobileNavigation.tsx
  src/components/MobileNavigation/components/Header/Header.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: context declaration tweaks
  dist/components/GlobalNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  src/components/GlobalNavigation/GlobalNavigation.context.tsx
  src/components/GlobalNavigation/GlobalNavigation.fixture.ts
  src/components/GlobalNavigation/GlobalNavigation.spec.tsx
  src/components/GlobalNavigation/GlobalNavigation.stories.mdx
  src/components/GlobalNavigation/GlobalNavigation.types.ts
  src/components/GlobalNavigation/components/MobileView/MobileView.fixture.ts
  src/components/GlobalNavigation/components/MobileView/MobileView.stories.mdx
  src/components/GlobalNavigation/components/MobileView/components/ArticleCard/ArticleCard.fixture.ts
  src/components/GlobalNavigation/components/MobileView/components/ListItem/ListItem.tsx
  src/components/GlobalNavigation/components/MobileView/components/PromotionCard/PromotionCard.fixture.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: expose context hook
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  src/components/index.ts
  src/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.11.0-develop.15 [skip ci]
  package.json
Due: prettier --write

feat: remove the space between name when shouldSwapFullNameOrder
  dist/components/PersonalInfoSummary/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  src/components/PersonalInfoSummary/PersonalInfoSummary.spec.tsx
  src/components/PersonalInfoSummary/PersonalInfoSummary.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

refactor(Global Navigation): changing exports for global navigation for easier consumption
  dist/components/GlobalNavigation/index.d.ts
  dist/components/GlobalNavigation/index.js
  src/components/GlobalNavigation/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.11.0-develop.16 [skip ci]
  package.json
Due: prettier --write

feat(google maps component): update to new market clusterer package
  dist/components/GoogleMap/index.js
  dist/compositions/StoreDetail/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/GoogleMap.js
  package-lock.json
  package.json
  src/components/GoogleMap/GoogleMap.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.11.0-develop.17 [skip ci]
  dist/index.cjs.js.map
  dist/index.esm.js.map
  package.json
Due: prettier --write

feat(HyperLink): imrpove prop names for eslint
  src/components/Hyperlink/Hyperlink.stories.mdx
  src/components/Hyperlink/Hyperlink.tsx
  src/components/Hyperlink/Hyperlink.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(Loading): allow aligning the element
  src/components/Audio/__snapshots__/Audio.spec.tsx.snap
  src/components/BynderWidget/__snapshots__/BynderWidget.spec.tsx.snap
  src/components/GoogleMap/__snapshots__/GoogleMap.spec.js.snap
  src/components/Loading/Loading.module.css
  src/components/Loading/Loading.stories.mdx
  src/components/Loading/Loading.tsx
  src/components/Loading/Loading.types.ts
  src/components/Loading/__snapshots__/Loading.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 1.11.0-develop.18 [skip ci]
  dist/components/Loading/index.d.ts
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Hyperlink.js
  dist/sharedChunks/Hyperlink.types.d.ts
  dist/sharedChunks/Loading.js
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat: update fixtures and types
  dist/components/GlobalNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  package-lock.json
  src/components/GlobalNavigation/components/MobileView/MobileView.fixture.ts
  src/components/GlobalNavigation/components/MobileView/MobileView.stories.mdx
  src/components/GlobalNavigation/components/MobileView/MobileView.tsx
  src/components/GlobalNavigation/components/MobileView/components/ArticleCard/ArticleCard.fixture.ts
  src/components/GlobalNavigation/components/MobileView/components/ArticleCard/ArticleCard.tsx
  src/components/GlobalNavigation/components/MobileView/components/ArticleList/ArticleList.tsx
  src/components/GlobalNavigation/components/MobileView/components/Collection/Collection.fixture.ts
  src/components/GlobalNavigation/components/MobileView/components/Collection/Collection.tsx
  src/components/GlobalNavigation/components/MobileView/components/Collection/Collection.types.ts
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.fixture.ts
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.tsx
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.types.ts
  src/components/GlobalNavigation/components/MobileView/components/Link/Link.fixture.ts
  src/components/GlobalNavigation/components/MobileView/components/Link/Link.tsx
  src/components/GlobalNavigation/components/MobileView/components/Link/Link.types.ts
  src/components/GlobalNavigation/components/MobileView/components/ListItem/ListItem.fixture.ts
  src/components/GlobalNavigation/components/MobileView/components/ListItem/ListItem.types.ts
  src/components/GlobalNavigation/components/MobileView/components/NestedCollection/NestedCollection.fixture.ts
  src/components/GlobalNavigation/components/MobileView/components/NestedCollection/NestedCollection.tsx
  src/components/GlobalNavigation/components/MobileView/components/NestedCollection/NestedCollection.types.ts
  src/components/GlobalNavigation/components/MobileView/components/PrimaryNavigation/PrimaryNavigation.fixture.ts
  src/components/GlobalNavigation/components/MobileView/components/PrimaryNavigation/PrimaryNavigation.types.ts
  src/components/GlobalNavigation/components/MobileView/components/SecondaryNavigation/SecondaryNavigation.fixture.ts
  src/components/GlobalNavigation/components/MobileView/components/SecondaryNavigation/SecondaryNavigation.tsx
  src/components/GlobalNavigation/components/PromotionCard/PromotionCard.fixture.ts
  src/components/GlobalNavigation/components/PromotionCard/PromotionCard.tsx
  src/components/GlobalNavigation/components/PromotionCard/PromotionCard.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'
