Repository cyrusxzw/new-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(ae-240): share complex types
  src/components/MediaWithContent/MediaWithContent.types.ts
  src/components/MediaWithContent/components/Content/Content.types.ts
  src/components/MediaWithContent/components/Media/Media.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: update definitions
  dist/index.d.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: ignore TS fixtures and index in coverage
  jest.config.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

refactor(accordion): add type to id argument
  src/components/Accordion/Accordion.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

test(select): add/refactor unit tests
  src/components/Select/Select.spec.js
  src/components/Select/__snapshots__/Select.spec.js.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

test(accordion): add/refactor unit tests
  src/components/Accordion/Accordion.spec.tsx
  src/components/Accordion/Accordion.tsx
  src/components/Accordion/__snapshots__/Accordion.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

test(useWindowHasResized): add unit tests
  src/customHooks/useWindowHasResized/useWindowHasResized.spec.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

test(bodycopy): add/refactor unit tests
  src/components/BodyCopy/BodyCopy.spec.tsx
  src/components/BodyCopy/__snapshots__/BodyCopy.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

test(portal): add unit tests
  src/utils/portal/portal.spec.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(ae-265): update return type
  dist/index.d.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: main rename
  .releaserc
  README.md
Due: prettier --write

chore: main branch rename
  .releaserc
  README.md
  documentation/welcome.stories.mdx
Due: prettier --write

chore: main rename
  documentation/welcome.stories.mdx
Due: none

feat(ae-235): borrow type from list and rebuild
  dist/index.d.ts
  src/components/KitList/KitList.types.ts
  src/components/List/List.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(247): merge from develop + add types for breadcrumb callbacks
  src/components/ProductDetailHeader/ProductDetailHeader.tsx
  src/components/ProductDetailHeader/ProductDetailHeader.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(ae-427): rebuild types
  dist/index.d.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-386): migrate section heading to typescript
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  src/components/SectionHeading/SectionHeading.spec.js
  src/components/SectionHeading/SectionHeading.spec.tsx
  src/components/SectionHeading/SectionHeading.stories.mdx
  src/components/SectionHeading/SectionHeading.tsx
  src/components/SectionHeading/SectionHeading.types.ts
  src/components/SectionHeading/SectionHeading.utils.ts
  src/components/SectionHeading/__snapshots__/SectionHeading.spec.js.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: add config to code split
  README.md
  rollup-code-split.config.js
  rollup.config.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: install aesop-code-styles
  package-lock.json
  package.json
Due: prettier --write

chore: remove libraries that will be replaced
  package-lock.json
  package.json
Due: prettier --write

chore: migrate eslint
  .eslintrc
  package.json
  setupTests.js
  src/components/Audio/Audio.tsx
  src/components/Video/components/VideoPlayer/VideoPlayer.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: migrate prettier
  .prettierrc
  .prettierrc.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: integrate stylelint
  .stylelintrc
  src/components/Video/Video.module.css
Due: stylelint --fix --allow-empty-input

feat(con-386): add render no ui feature and test
  src/components/Carousel/__snapshots__/Carousel.spec.tsx.snap
  src/components/Carousel/components/CarouselIntroduction/__snapshots__/CarouselIntroduction.spec.tsx.snap
  src/components/FullWidthHeroScroll/__snapshots__/FullWidthHeroScroll.spec.js.snap
  src/components/HeroBanner/__snapshots__/HeroBanner.spec.tsx.snap
  src/components/ProductCommerce/__snapshots__/ProductCommerce.spec.js.snap
  src/components/SectionHeading/SectionHeading.spec.tsx
  src/components/SectionHeading/SectionHeading.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.45 [skip ci]
  dist/components/BodyCopy/index.js
  dist/components/Carousel/index.js
  dist/components/HeroBanner/index.js
  dist/components/ImageCarousel/index.js
  dist/components/MediaWithContent/index.js
  dist/components/SectionHeading/index.js
  dist/compositions/ProductDetail/index.js
  dist/index.cjs.js
  dist/index.esm.js
  dist/sharedChunks/SectionHeading.js
  dist/sharedChunks/Video.js
  dist/styles.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(con-380): rebuild
  dist/components/BodyCopy/index.js
  dist/components/Carousel/index.js
  dist/components/HeroBanner/index.js
  dist/components/ImageCarousel/index.js
  dist/components/MediaWithContent/index.js
  dist/components/SectionHeading/index.d.ts
  dist/components/SectionHeading/index.js
  dist/compositions/ProductDetail/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/SectionHeading.js
  dist/sharedChunks/Video.js
  dist/styles.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(con-380): migrate secondary message to typescript
  src/components/SecondaryMessage/SecondaryMessage.fixture.ts
  src/components/SecondaryMessage/SecondaryMessage.js
  src/components/SecondaryMessage/SecondaryMessage.module.css
  src/components/SecondaryMessage/SecondaryMessage.spec.js
  src/components/SecondaryMessage/SecondaryMessage.spec.tsx
  src/components/SecondaryMessage/SecondaryMessage.stories.mdx
  src/components/SecondaryMessage/SecondaryMessage.tsx
  src/components/SecondaryMessage/SecondaryMessage.types.ts
  src/components/SecondaryMessage/SecondaryMessage.utils.js
  src/components/SecondaryMessage/__snapshots__/SecondaryMessage.spec.js.snap
  src/components/SecondaryMessage/components/Message/Message.fixture.ts
  src/components/SecondaryMessage/components/Message/Message.module.css
  src/components/SecondaryMessage/components/Message/Message.spec.js
  src/components/SecondaryMessage/components/Message/Message.spec.tsx
  src/components/SecondaryMessage/components/Message/Message.tsx
  src/components/SecondaryMessage/components/Message/Message.types.ts
  src/components/SecondaryMessage/components/Message/__snapshots__/Message.spec.js.snap
  src/styles/variables/color.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(con-383): migrate two column layout to typescript
  dist/components/SectionHeading/index.d.ts
  dist/components/TwoColumnLayout/index.d.ts
  dist/components/TwoColumnLayout/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/TwoColumnLayout.js
  src/components/StoreDetailHeader/__snapshots__/StoreDetailHeader.spec.js.snap
  src/components/TwoColumnLayout/TwoColumnLayout.fixture.tsx
  src/components/TwoColumnLayout/TwoColumnLayout.js
  src/components/TwoColumnLayout/TwoColumnLayout.spec.js
  src/components/TwoColumnLayout/TwoColumnLayout.spec.tsx
  src/components/TwoColumnLayout/TwoColumnLayout.stories.mdx
  src/components/TwoColumnLayout/TwoColumnLayout.tsx
  src/components/TwoColumnLayout/TwoColumnLayout.types.ts
  src/components/TwoColumnLayout/__snapshots__/TwoColumnLayout.spec.js.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-381): migrate store hours list to typescript
  dist/components/SectionHeading/index.d.ts
  dist/components/StoreDetailHeader/index.js
  dist/components/StoreHoursList/index.d.ts
  dist/components/StoreHoursList/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/StoreHoursList.js
  src/components/StoreDetailHeader/__snapshots__/StoreDetailHeader.spec.js.snap
  src/components/StoreHoursList/StoreHoursList.fixture.ts
  src/components/StoreHoursList/StoreHoursList.spec.js
  src/components/StoreHoursList/StoreHoursList.spec.tsx
  src/components/StoreHoursList/StoreHoursList.stories.mdx
  src/components/StoreHoursList/StoreHoursList.tsx
  src/components/StoreHoursList/StoreHoursList.types.ts
  src/components/StoreHoursList/__snapshots__/StoreHoursList.spec.js.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(pur-174): flyout track
  dist/components/ProductDetailHeader/index.d.ts
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/ProductDetailHeader.js
  src/components/ProductDetailHeader/ProductDetailHeader.stories.mdx
  src/components/ProductDetailHeader/ProductDetailHeader.tsx
  src/components/ProductDetailHeader/ProductDetailHeader.types.ts
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.tsx
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-385): migrate product commerce to typescript
  dist/components/DefinitionListWithProductExtract/index.d.ts
  dist/components/ProductCommerce/index.d.ts
  dist/components/ProductCommerce/index.js
  dist/contexts/AddToCartContext/index.d.ts
  dist/contexts/ProductDetailContext/index.d.ts
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/AddToCartButton.js
  dist/sharedChunks/AddToCartContext.js
  dist/sharedChunks/DefinitionList.types.d.ts
  dist/sharedChunks/Variant.types.d.ts
  src/components/AddToCartButton/AddToCartButton.tsx
  src/components/AddToCartButton/__mocks__/AddToCartButton.onClick.ts
  src/components/DefinitionList/DefinitionList.types.ts
  src/components/ProductCommerce/ProductCommerce.fixture.ts
  src/components/ProductCommerce/ProductCommerce.spec.js
  src/components/ProductCommerce/ProductCommerce.spec.tsx
  src/components/ProductCommerce/ProductCommerce.stories.mdx
  src/components/ProductCommerce/ProductCommerce.tsx
  src/components/ProductCommerce/ProductCommerce.types.ts
  src/components/ProductCommerce/__snapshots__/ProductCommerce.spec.js.snap
  src/contexts/AddToCartContext/AddToCartContext.types.ts
  src/contexts/AddToCartContext/AddToCartStore.ts
  src/types/Product.types.ts
  src/types/Variant.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: fix assertion
  dist/components/SecondaryMessage/index.d.ts
  dist/components/SecondaryMessage/index.js
  dist/index.cjs.js
  dist/index.d.ts
  dist/index.esm.js
  dist/styles.css
  src/components/SecondaryMessage/SecondaryMessage.spec.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(pur-158): payment widget slot
  src/components/ProductDetailHeader/ProductDetailHeader.stories.mdx
  src/components/ProductDetailHeader/ProductDetailHeader.tsx
  src/components/ProductDetailHeader/ProductDetailHeader.types.ts
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.module.css
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.tsx
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(pur-158): build
  dist/components/ProductDetailHeader/index.d.ts
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/ProductDetailHeader.js
  dist/styles.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat: build store detail header component to dist
  dist/components/StoreDetailHeader/index.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

fix: move react & react-dom to devDependencies
  package-lock.json
  package.json
Due: prettier --write

feat: re build
  dist/components/ProductDetailHeader/index.d.ts
  dist/components/SecondaryMessage/index.d.ts
  dist/components/SecondaryMessage/index.js
  dist/components/StoreDetailHeader/index.js
  dist/components/StoreHoursList/index.d.ts
  dist/components/StoreHoursList/index.js
  dist/sharedChunks/ProductDetailHeader.js
  dist/sharedChunks/StoreHoursList.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-382): migrate store details header to typescript
  dist/components/StoreDetailHeader/index.d.ts
  dist/components/StoreDetailHeader/index.js
  dist/components/StoreHoursList/index.d.ts
  dist/compositions/StoreDetail/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/StoreDetailHeader.js
  dist/sharedChunks/StoreHoursList.types.d.ts
  dist/styles.css
  src/components/StoreDetailHeader/StoreDetailHeader.fixture.ts
  src/components/StoreDetailHeader/StoreDetailHeader.module.css
  src/components/StoreDetailHeader/StoreDetailHeader.spec.js
  src/components/StoreDetailHeader/StoreDetailHeader.spec.tsx
  src/components/StoreDetailHeader/StoreDetailHeader.stories.mdx
  src/components/StoreDetailHeader/StoreDetailHeader.tsx
  src/components/StoreDetailHeader/StoreDetailHeader.types.ts
  src/components/StoreDetailHeader/__snapshots__/StoreDetailHeader.spec.js.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

Path conditions:
  prettier --write: any of: **/*.{js,ts,tsx,json,md}
  eslint --fix --ignore-path .eslintignore --config .eslintrc: any of: **/*.{js,ts,tsx}
  jest --findRelatedTests --coverageThreshold '{}': any of: **/*.{js,ts,tsx}
  stylelint --fix --allow-empty-input: any of: **/*.css
