Repository cyrusxzw/new-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 1.18.0-navigation.5 [skip ci]
  dist/components/Button/index.d.ts
  dist/components/GlobalNavigation/index.d.ts
  dist/components/GlobalNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Button.js
  dist/sharedChunks/Hyperlink.js
  dist/sharedChunks/Hyperlink.types.d.ts
  dist/sharedChunks/Transition.js
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

fix(tracking): correct english labels and subnav strings for mobile and tablet read articles
  src/components/GlobalNavigation/components/MobileView/components/ArticleCard/ArticleCard.tsx
  src/components/GlobalNavigation/components/TabletView/components/ArticleCard/ArticleCard.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

[Feature/CON-845 Add back to menu feature]
  src/components/GlobalNavigation/GlobalNavigation.hooks.ts
  src/components/GlobalNavigation/GlobalNavigation.types.ts
  src/components/GlobalNavigation/components/MobileView/MobileView.tsx
  src/customHooks/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.18.0-navigation.6 [skip ci]
  dist/components/GlobalNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

fix(tracking): set correct menu type when going into read category on mobile
  src/components/GlobalNavigation/components/MobileView/components/SecondaryMenu/SecondaryMenu.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.18.0-navigation.7 [skip ci]
  dist/components/GlobalNavigation/index.d.ts
  dist/components/GlobalNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(breadcrumb-testref): breadcrumb allow testref
  src/components/Breadcrumbs/Breadcrumbs.fixture.ts
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/Breadcrumbs/Breadcrumbs.types.ts
  src/components/Breadcrumbs/__snapshots__/Breadcrumbs.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.27.0 [skip ci]
  CHANGELOG.md
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Breadcrumbs.js
  dist/sharedChunks/Breadcrumbs.types.d.ts
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: extra onChange handler for Dynamic Form
  src/compositions/DynamicForm/DynamicForm.fixture.ts
  src/compositions/DynamicForm/DynamicForm.types.ts
  src/compositions/DynamicForm/FormField.tsx
  src/compositions/DynamicForm/wrappers/Checkbox.tsx
  src/compositions/DynamicForm/wrappers/DateSelector.tsx
  src/compositions/DynamicForm/wrappers/Select.tsx
  src/compositions/DynamicForm/wrappers/TextField.tsx
  src/compositions/DynamicForm/wrappers/wrappers.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: clean up the code
  src/compositions/DynamicForm/wrappers/Checkbox.tsx
  src/compositions/DynamicForm/wrappers/DateSelector.tsx
  src/compositions/DynamicForm/wrappers/Select.tsx
  src/compositions/DynamicForm/wrappers/TextField.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: update handleOnChange type
  src/compositions/DynamicForm/DynamicForm.types.ts
  src/compositions/DynamicForm/wrappers/wrappers.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: reset dist folder
  dist/components/Audio/index.js
  dist/components/Button/index.d.ts
  dist/components/DateSelector/index.d.ts
  dist/components/FooterBlock/index.d.ts
  dist/components/FooterBlock/index.js
  dist/components/GlobalNavigation/index.d.ts
  dist/components/GlobalNavigation/index.js
  dist/components/IconLink/index.d.ts
  dist/components/IconLink/index.js
  dist/components/NavigationBar/index.d.ts
  dist/components/NavigationBar/index.js
  dist/components/ProductDetailHeader/index.d.ts
  dist/components/RadioGroup/index.d.ts
  dist/components/RadioGroup/index.js
  dist/components/ReadMore/index.d.ts
  dist/components/ReadMore/index.js
  dist/components/Select/index.d.ts
  dist/components/TextInput/index.d.ts
  dist/components/TextInput/index.js
  dist/components/Textarea/index.d.ts
  dist/components/Textarea/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Breadcrumbs.js
  dist/sharedChunks/Breadcrumbs.types.d.ts
  dist/sharedChunks/Button.js
  dist/sharedChunks/Component.types.d.ts
  dist/sharedChunks/DateSelector.js
  dist/sharedChunks/Hyperlink.js
  dist/sharedChunks/Hyperlink.types.d.ts
  dist/sharedChunks/ProductDetailHeader.js
  dist/sharedChunks/RadioGroup.js
  dist/sharedChunks/Transition.js
  dist/sharedChunks/Variant.types.d.ts
  dist/sharedChunks/_rollupPluginBabelHelpers.js
  dist/styles.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

fix: rename the variable
  src/compositions/DynamicForm/DynamicForm.fixture.ts
  src/compositions/DynamicForm/DynamicForm.types.ts
  src/compositions/DynamicForm/FormField.tsx
  src/compositions/DynamicForm/wrappers/Checkbox.tsx
  src/compositions/DynamicForm/wrappers/DateSelector.tsx
  src/compositions/DynamicForm/wrappers/Select.tsx
  src/compositions/DynamicForm/wrappers/TextField.tsx
  src/compositions/DynamicForm/wrappers/wrappers.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.28.0 [skip ci]
  CHANGELOG.md
  dist/components/Audio/index.js
  dist/components/Button/index.d.ts
  dist/components/GlobalNavigation/index.d.ts
  dist/components/GlobalNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Button.js
  dist/sharedChunks/Hyperlink.js
  dist/sharedChunks/Hyperlink.types.d.ts
  dist/sharedChunks/Transition.js
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(LoadMoreButton): migrate to TypeScript (#604)
  src/components/LoadMoreButton/LoadMoreButton.fixture.ts
  src/components/LoadMoreButton/LoadMoreButton.spec.js
  src/components/LoadMoreButton/LoadMoreButton.spec.tsx
  src/components/LoadMoreButton/LoadMoreButton.stories.mdx
  src/components/LoadMoreButton/LoadMoreButton.tsx
  src/components/LoadMoreButton/LoadMoreButton.types.ts
  src/components/LoadMoreButton/__mocks__/LoadMoreButton.onClick.ts
  src/components/LoadMoreButton/__snapshots__/LoadMoreButton.spec.js.snap
  src/contexts/LoadMoreContext/LoadMoreContext.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.29.0 [skip ci]
  CHANGELOG.md
  dist/components/LoadMoreButton/index.d.ts
  dist/components/LoadMoreButton/index.js
  dist/contexts/LoadMoreContext/index.d.ts
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/_rollupPluginBabelHelpers.js
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: run build
  dist/compositions/DynamicForm/index.d.ts
  dist/compositions/DynamicForm/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.30.0 [skip ci]
  CHANGELOG.md
  dist/index.cjs.js.map
  dist/index.esm.js.map
  package.json
Due: prettier --write

style: updating the style of modal
  dist/components/Modal/index.js
  dist/styles.css
  package-lock.json
  src/components/Modal/Modal.fixture.ts
  src/components/Modal/Modal.stories.mdx
  src/components/Modal/components/ModalBody/ModalBody.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore: delete unused Footer composition
  src/compositions/Footer/Footer.css
  src/compositions/Footer/Footer.fixture.js
  src/compositions/Footer/Footer.js
  src/compositions/Footer/Footer.spec.js
  src/compositions/Footer/Footer.stories.mdx
  src/compositions/Footer/__snapshots__/Footer.spec.js.snap
  src/compositions/Footer/index.ts
  src/compositions/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore: delete unused NewsletterSignUp composition
  src/compositions/NewsletterSignUp/NewsletterSignUp.css
  src/compositions/NewsletterSignUp/NewsletterSignUp.fixture.js
  src/compositions/NewsletterSignUp/NewsletterSignUp.js
  src/compositions/NewsletterSignUp/NewsletterSignUp.spec.js
  src/compositions/NewsletterSignUp/NewsletterSignUp.stories.mdx
  src/compositions/NewsletterSignUp/__mocks__/NewsletterSignUp.onClick.js
  src/compositions/NewsletterSignUp/__snapshots__/NewsletterSignUp.spec.js.snap
  src/compositions/NewsletterSignUp/index.ts
  src/compositions/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  dist/compositions/Footer/index.d.ts
  dist/compositions/Footer/index.js
  dist/compositions/NewsletterSignUp/index.d.ts
  dist/compositions/NewsletterSignUp/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/_rollupPluginBabelHelpers.js
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feature/con-sprint-19 add tracking in story book
  src/components/GlobalNavigation/GlobalNavigation.stories.mdx
Due: prettier --write

fix: make UI review changes to polish nav experience
  src/components/GlobalNavigation/GlobalNavigation.hooks.ts
  src/components/GlobalNavigation/components/DesktopView/DesktopView.module.css
  src/components/GlobalNavigation/components/DesktopView/components/MenuItem/MenuItem.module.css
  src/components/GlobalNavigation/components/DesktopView/components/Panel/Panel.module.css
  src/components/GlobalNavigation/components/DesktopView/components/PrimaryMenu/PrimaryMenu.module.css
  src/components/GlobalNavigation/components/DesktopView/components/PrimaryMenu/PrimaryMenu.tsx
  src/components/GlobalNavigation/components/MobileView/components/NestedCollection/NestedCollection.module.css
  src/components/GlobalNavigation/components/PromotionCard/PromotionCard.module.css
  src/components/GlobalNavigation/components/PromotionCard/PromotionCard.tsx
  src/components/GlobalNavigation/components/TabletView/TabletView.module.css
  src/components/GlobalNavigation/components/TabletView/components/ArticleLayout/ArticleLayout.tsx
  src/components/GlobalNavigation/components/TabletView/components/MenuItem/MenuItem.module.css
  src/components/GlobalNavigation/components/TabletView/components/SelectionPanel/SelectionPanel.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

fix(con-914): remove nav gap b/w filter and add border fade transitions
  src/components/GlobalNavigation/components/DesktopView/DesktopView.module.css
  src/components/GlobalNavigation/components/MobileView/MobileView.module.css
  src/components/GlobalNavigation/components/TabletView/TabletView.module.css
Due: prettier --write, stylelint --fix --allow-empty-input

fix(con-918): add bottom padding to mobile promotion card to avoid cutoff
  src/components/GlobalNavigation/components/PromotionCard/PromotionCard.module.css
Due: prettier --write, stylelint --fix --allow-empty-input

fix(con-898): correct mobile and desktop copy for athenaeum and add tablet url
  src/components/GlobalNavigation/GlobalNavigation.types.ts
  src/components/GlobalNavigation/__mocks__/GlobalNavigation.context.tsx
  src/components/GlobalNavigation/components/MobileView/components/Collection/Collection.tsx
  src/components/GlobalNavigation/components/MobileView/components/ListItem/ListItem.spec.tsx
  src/components/GlobalNavigation/components/MobileView/components/ListItem/ListItem.tsx
  src/components/GlobalNavigation/components/MobileView/components/ListItem/ListItem.types.ts
  src/components/GlobalNavigation/components/TabletView/components/ArticleLayout/ArticleLayout.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-848): Only detials panel scroll
  src/components/GlobalNavigation/components/TabletView/components/DetailsPanel/DetailsPanel.module.css
Due: prettier --write, stylelint --fix --allow-empty-input

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
  dist/components/GlobalNavigation/index.d.ts
  dist/components/GlobalNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(con-687): Rebuild store header for 3 column responsiveness and add StorePageCallout (#610)
  src/components/StoreDetailHeader/StoreDetailHeader.module.css
  src/components/StoreDetailHeader/StoreDetailHeader.tsx
  src/components/StoreDetailHeader/StoreDetailHeader.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 2.2.0 [skip ci]
  CHANGELOG.md
  dist/components/StoreDetailHeader/index.d.ts
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/StoreDetailHeader.js
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(modal-overflow): modal overflow style auto
  src/components/Modal/components/ModalBody/ModalBody.module.css
Due: prettier --write, stylelint --fix --allow-empty-input

chore(release): 2.3.0 [skip ci]
  CHANGELOG.md
  dist/components/Modal/index.js
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(Hyperlink): expose missing props to StoryBook (#616)
  src/components/Hyperlink/Hyperlink.stories.mdx
Due: prettier --write

feat(con-846): fix padding on hero slices
  src/components/FullWidthHeroScroll/FullWidthHeroScroll.module.css
  src/components/FullWidthHeroScroll/FullWidthHeroScroll.tsx
  src/components/HeroBanner/HeroBanner.module.css
  src/components/HeroBanner/HeroBanner.tsx
  src/components/HeroBanner/HeroBanner.types.ts
  src/components/HeroBanner/components/HeroBannerContent/HeroBannerContent.module.css
  src/components/HeroBanner/components/HeroBannerContent/HeroBannerContent.tsx
  src/components/HeroBanner/components/HeroBannerContent/HeroBannerContent.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 2.4.0 [skip ci]
  CHANGELOG.md
  dist/components/FullWidthHeroScroll/index.js
  dist/components/HeroBanner/index.d.ts
  dist/components/HeroBanner/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

fix(con-846): remove !important and comment in hero banner
  src/components/HeroBanner/components/HeroBannerContent/HeroBannerContent.module.css
Due: prettier --write, stylelint --fix --allow-empty-input

chore(release): 2.4.1 [skip ci]
  CHANGELOG.md
  dist/components/HeroBanner/index.js
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

fix(con-961): fix search icon color in light theme
  src/components/GlobalNavigation/components/TabletView/components/PrimaryMenu/PrimaryMenu.module.css
  src/components/GlobalNavigation/components/TabletView/components/PrimaryMenu/PrimaryMenu.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 2.4.2 [skip ci]
  CHANGELOG.md
  dist/components/GlobalNavigation/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

Path conditions:
  prettier --write: any of: **/*.{js,ts,css,tsx,json,md,mdx}
  eslint --fix --ignore-path .eslintignore --config .eslintrc: any of: **/*.{js,ts,tsx}
  jest --findRelatedTests --coverageThreshold '{}': any of: **/*.{js,ts,tsx}
  stylelint --fix --allow-empty-input: any of: **/*.css
