Repository cyrusxzw/new-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,ts,css,tsx,json,md,mdx}": [
    "prettier --write"
  ],
  "**/*.{js,ts,tsx}": [
    "eslint --fix --ignore-path .eslintignore --config .eslintrc",
    "jest --findRelatedTests --coverageThreshold '{}'"
  ],
  "**/*.css": [
    "stylelint --fix --allow-empty-input"
  ]
}

fix(con-957): fix category heading not bold on some asian site
  src/components/GlobalNavigation/components/DesktopView/components/CollectionList/CollectionList.module.css
  src/styles/variables/font.css
Due: prettier --write, stylelint --fix --allow-empty-input

chore(release): 2.4.3 [skip ci]
  CHANGELOG.md
  dist/components/GlobalNavigation/index.js
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

fix(con-948): optimize hero banner padding
  src/components/FullWidthHeroScroll/FullWidthHeroScroll.module.css
  src/components/FullWidthHeroScroll/FullWidthHeroScroll.tsx
  src/components/HeroBanner/HeroBanner.module.css
  src/components/HeroBanner/HeroBanner.tsx
  src/components/HeroBanner/HeroBanner.types.ts
  src/components/HeroBanner/components/HeroBannerContent/HeroBannerContent.module.css
  src/components/HeroBanner/components/HeroBannerContent/HeroBannerContent.tsx
  src/components/HeroBanner/components/HeroBannerContent/HeroBannerContent.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

fix: update the style of checkbox error msg
  dist/sharedChunks/Checkbox.js
  dist/styles.css
  src/components/Checkbox/Checkbox.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

fix: add data-count
  src/components/GlobalNavigation/GlobalNavigation.types.ts
  src/components/GlobalNavigation/components/DesktopView/components/MenuItem/MenuItem.tsx
  src/components/GlobalNavigation/components/DesktopView/components/MenuItem/MenuItem.types.ts
  src/components/GlobalNavigation/components/DesktopView/components/SecondaryMenu/SecondaryMenu.tsx
  src/components/GlobalNavigation/components/MobileView/components/Header/Header.tsx
  src/components/GlobalNavigation/components/TabletView/components/SecondaryMenu/SecondaryMenu.tsx
  src/components/HeroBanner/HeroBanner.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 2.4.4 [skip ci]
  CHANGELOG.md
  dist/components/FullWidthHeroScroll/index.js
  dist/components/GlobalNavigation/index.d.ts
  dist/components/GlobalNavigation/index.js
  dist/components/HeroBanner/index.d.ts
  dist/components/HeroBanner/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore: run prettier and linters on push (#622)
  .github/workflows/push.yml
  .prettierignore
  README.md
  package.json
Due: prettier --write

fix: update the mobile modal transition style
  dist/components/Modal/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  src/components/Modal/Modal.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(CON-454): migrate TextOverFullWidthAsset to TS (#626)
  src/components/TextOverFullWidthAsset/TextOverFullWidthAsset.fixture.ts
  src/components/TextOverFullWidthAsset/TextOverFullWidthAsset.spec.tsx
  src/components/TextOverFullWidthAsset/TextOverFullWidthAsset.tsx
  src/components/TextOverFullWidthAsset/TextOverFullWidthAsset.types.ts
  src/components/TextOverFullWidthAsset/__snapshots__/TextOverFullWidthAsset.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 2.5.0 [skip ci]
  CHANGELOG.md
  dist/components/DoubleMedia/index.d.ts
  dist/components/TextOverFullWidthAsset/index.d.ts
  dist/components/TextOverFullWidthAsset/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Video.types.d.ts
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: update close btn color in modal
  dist/components/Modal/index.js
  dist/styles.css
  src/components/Modal/components/ModalBody/ModalBody.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore: revert checkbox err msg style
  dist/sharedChunks/Checkbox.js
  dist/styles.css
  package-lock.json
  src/components/Checkbox/Checkbox.module.css
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 2.5.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

chore: delete unused ProductDetail composition (#629)
  src/compositions/ProductDetail/ProductDetail.fixture.js
  src/compositions/ProductDetail/ProductDetail.js
  src/compositions/ProductDetail/ProductDetail.module.css
  src/compositions/ProductDetail/ProductDetail.stories.mdx
  src/compositions/ProductDetail/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(CON-461): migrate GoogleMap to TS (#630)
  src/components/GoogleMap/GoogleMap.fixture.ts
  src/components/GoogleMap/GoogleMap.options.ts
  src/components/GoogleMap/GoogleMap.spec.tsx
  src/components/GoogleMap/GoogleMap.tsx
  src/components/GoogleMap/GoogleMap.types.ts
  src/components/GoogleMap/__snapshots__/GoogleMap.spec.tsx.snap
  src/components/GoogleMap/components/InfoCard/InfoCard.js
  src/components/GoogleMap/components/InfoCard/InfoCard.tsx
  src/components/GoogleMap/components/InfoCard/InfoCard.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 2.6.0 [skip ci]
  CHANGELOG.md
  dist/components/FullWidthHeroScroll/index.js
  dist/components/GoogleMap/index.d.ts
  dist/components/GoogleMap/index.js
  dist/components/KitList/index.js
  dist/components/MediaWithContent/index.js
  dist/components/ProductDetailHeader/index.js
  dist/components/Quote/index.js
  dist/compositions/ProductDetail/index.d.ts
  dist/compositions/ProductDetail/index.js
  dist/compositions/StoreDetail/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/GoogleMap.js
  dist/sharedChunks/KitList.js
  dist/sharedChunks/MediaWithContent.js
  dist/sharedChunks/ProductDetailHeader.js
  dist/sharedChunks/Quote.js
  dist/sharedChunks/_rollupPluginBabelHelpers.js
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(CON-462): migrate FullWidthHeroScroll to TS (#631)
  src/components/FullWidthHeroScroll/FullWidthHeroScroll.fixture.ts
  src/components/FullWidthHeroScroll/FullWidthHeroScroll.spec.tsx
  src/components/FullWidthHeroScroll/FullWidthHeroScroll.tsx
  src/components/FullWidthHeroScroll/FullWidthHeroScroll.types.ts
  src/components/FullWidthHeroScroll/__snapshots__/FullWidthHeroScroll.spec.tsx.snap
  src/components/FullWidthHeroScroll/components/BackgroundElement/BackgroundElement.tsx
  src/components/FullWidthHeroScroll/components/BackgroundElement/BackgroundElement.types.ts
  src/components/FullWidthHeroScroll/components/FullscreenSection/FullscreenSection.tsx
  src/components/FullWidthHeroScroll/components/FullscreenSection/FullscreenSection.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 2.7.0 [skip ci]
  CHANGELOG.md
  dist/components/BodyCopy/index.d.ts
  dist/components/FullWidthHeroScroll/index.d.ts
  dist/components/FullWidthHeroScroll/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/BodyCopy.types.d.ts
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(pur-680): add price into out of stock cta
  dist/components/BodyCopy/index.d.ts
  dist/components/FullWidthHeroScroll/index.d.ts
  dist/components/FullWidthHeroScroll/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/AddToCartButton.js
  dist/sharedChunks/BodyCopy.types.d.ts
  src/components/AddToCartButton/AddToCartButton.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

fix(CON-943): fix video height in media block
  src/components/DoubleMedia/components/MediaBlock/MediaBlock.tsx
  src/components/Video/Video.module.css
  src/components/Video/Video.tsx
  src/components/Video/Video.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 2.7.1 [skip ci]
  CHANGELOG.md
  dist/components/Video/index.d.ts
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/DoubleMedia.js
  dist/sharedChunks/Video.js
  dist/sharedChunks/Video.types.d.ts
  dist/styles.css
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

chore(release): 2.8.0 [skip ci]
  CHANGELOG.md
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: delete js files logging utility code (#632)
  list-js-files.js
  package.json
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

copy and clean from full width scroll module
  package-lock.json
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.fixture.ts
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.module.css
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.spec.tsx
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.stories.mdx
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.tsx
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.types.ts
  src/components/FiftyFiftyFloatingText/__snapshots__/FiftyFiftyFloatingText.spec.tsx.snap
  src/components/FiftyFiftyFloatingText/components/BackgroundElement/BackgroundElement.module.css
  src/components/FiftyFiftyFloatingText/components/BackgroundElement/BackgroundElement.tsx
  src/components/FiftyFiftyFloatingText/components/BackgroundElement/BackgroundElement.types.ts
  src/components/FiftyFiftyFloatingText/components/BackgroundElement/index.ts
  src/components/FiftyFiftyFloatingText/components/FullscreenSection/FullscreenSection.module.css
  src/components/FiftyFiftyFloatingText/components/FullscreenSection/FullscreenSection.tsx
  src/components/FiftyFiftyFloatingText/components/FullscreenSection/FullscreenSection.types.ts
  src/components/FiftyFiftyFloatingText/components/FullscreenSection/index.ts
  src/components/FiftyFiftyFloatingText/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

clean code 2
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.tsx
  src/components/FiftyFiftyFloatingText/components/BackgroundElement/BackgroundElement.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

final clean before add enentlistener
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.fixture.ts
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.module.css
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.stories.mdx
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.tsx
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.types.ts
  src/components/FiftyFiftyFloatingText/__snapshots__/FiftyFiftyFloatingText.spec.tsx.snap
  src/components/FiftyFiftyFloatingText/components/BackgroundElement/BackgroundElement.tsx
  src/components/FiftyFiftyFloatingText/components/BackgroundElement/BackgroundElement.types.ts
  src/components/FiftyFiftyFloatingText/components/BackgroundElement/index.ts
  src/components/FiftyFiftyFloatingText/components/FullscreenSection/FullscreenSection.types.ts
  src/components/FiftyFiftyFloatingText/components/FullscreenSection/index.ts
  src/components/FiftyFiftyFloatingText/components/ImageSection/ImageSection.module.css
  src/components/FiftyFiftyFloatingText/components/ImageSection/ImageSection.tsx
  src/components/FiftyFiftyFloatingText/components/ImageSection/ImageSection.types.ts
  src/components/FiftyFiftyFloatingText/components/ImageSection/index.ts
  src/components/FiftyFiftyFloatingText/components/TextSection/TextSection.module.css
  src/components/FiftyFiftyFloatingText/components/TextSection/TextSection.tsx
  src/components/FiftyFiftyFloatingText/components/TextSection/TextSection.types.ts
  src/components/FiftyFiftyFloatingText/components/TextSection/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

version 1 bad code but function work
  public/assets/images/MediaWithContent/fifty-fifty-img1.png
  public/assets/images/MediaWithContent/fifty-fifty-img2.png
  public/assets/images/MediaWithContent/fifty-fifty-img3.png
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.fixture.ts
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.tsx
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.types.ts
  src/components/FiftyFiftyFloatingText/components/ImageSection/ImageSection.module.css
  src/components/FiftyFiftyFloatingText/components/TextSection/TextSection.tsx
  src/components/FiftyFiftyFloatingText/components/TextSection/TextSection.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

support resize
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.tsx
  src/components/FiftyFiftyFloatingText/components/TextSection/TextSection.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

change variable name
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

calculate optimized
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.module.css
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.tsx
  src/components/FiftyFiftyFloatingText/components/TextSection/TextSection.module.css
  src/components/FiftyFiftyFloatingText/components/TextSection/TextSection.tsx
  src/components/FiftyFiftyFloatingText/components/TextSection/TextSection.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

use window.innerHeight instead of textBlockHeight
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.tsx
  src/components/FiftyFiftyFloatingText/MobileView/MobileView.tsx
  src/components/FiftyFiftyFloatingText/MobileView/index.ts
  src/components/FiftyFiftyFloatingText/components/TextSection/TextSection.tsx
  src/components/FiftyFiftyFloatingText/components/TextSection/TextSection.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

add mobile view
  src/components/FiftyFiftyFloatingText/FifityFiftyFloatingText.hooks.ts
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.fixture.ts
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.module.css
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.spec.tsx
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.tsx
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.types.ts
  src/components/FiftyFiftyFloatingText/MobileView/MobileView.module.css
  src/components/FiftyFiftyFloatingText/MobileView/MobileView.tsx
  src/components/FiftyFiftyFloatingText/MobileView/MobileView.types.ts
  src/components/FiftyFiftyFloatingText/MobileView/index.ts
  src/components/FiftyFiftyFloatingText/components/ImageSection/ImageSection.module.css
  src/components/FiftyFiftyFloatingText/components/TextSection/TextSection.module.css
  src/components/FiftyFiftyFloatingText/components/TextSection/TextSection.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

prettier
  src/components/FiftyFiftyFloatingText/FifityFiftyFloatingText.hooks.ts
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.tsx
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.types.ts
  src/components/FiftyFiftyFloatingText/MobileView/MobileView.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

delete test
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.spec.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

test fix
  src/components/FiftyFiftyFloatingText/FiftyFiftyFloatingText.spec.tsx
  src/components/FiftyFiftyFloatingText/__snapshots__/FiftyFiftyFloatingText.spec.tsx.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

change
  package-lock.json
  package.json
Due: prettier --write
