Repository cyrusxzw/new-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

.lintstagedrc:

{
  "**/*.{js,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "**/*.{js,ts,tsx}": [
    "eslint --fix --ignore-path .eslintignore --config .eslintrc",
    "jest --findRelatedTests --coverageThreshold '{}'"
  ],
  "**/*.css": [
    "stylelint --fix --allow-empty-input"
  ]
}

chore: cleaning up the generator component
  scripts/componentBoilerplate/assets/Component.spec.tsx
  scripts/componentBoilerplate/assets/Component.stories.mdx
  scripts/componentBoilerplate/assets/Component.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: add common component types
  src/types/Component.types.ts
  src/types/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: improvements to the component generator
  .prettierignore
  scripts/componentBoilerplate/assets/Component.tsx
  scripts/componentBoilerplate/assets/Component.types.ts
  scripts/componentBoilerplate/assets/ComponentRef.tsx
  scripts/componentBoilerplate/assets/ComponentRef.types.ts
  scripts/componentBoilerplate/create.sh
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: remove comment in bash script
  scripts/componentBoilerplate/create.sh
Due: none

chore: add mdx to format script
  package.json
Due: prettier --write

chore: format mdx files
  scripts/componentBoilerplate/assets/Component.stories.mdx
  src/components/Checkbox/Checkbox.stories.mdx
  src/components/ConditionalWrapper/ConditionalWrapper.stories.mdx
  src/components/ContentHubArticleList/ContentHubArticleList.stories.mdx
  src/components/DialogBanner/DialogBanner.stories.mdx
  src/components/Hyperlink/Hyperlink.stories.mdx
  src/components/IconLink/IconLink.stories.mdx
  src/components/LinkButtonGroup/LinkButtonGroup.stories.mdx
  src/components/NotificationModal/NotificationModal.stories.mdx
  src/components/Paragraph/Paragraph.stories.mdx
  src/components/ProductAccordion/ProductAccordion.stories.mdx
  src/components/ProductCommerce/ProductCommerce.stories.mdx
  src/components/ProductDetailHeader/ProductDetailHeader.stories.mdx
  src/components/ProductGridItem/ProductGridItem.stories.mdx
  src/components/RadioGroup/RadioGroup.stories.mdx
  src/components/Select/Select.stories.mdx
  src/components/StoreDetailHeader/StoreDetailHeader.stories.mdx
  src/components/TextInputV2/TextInputV2.stories.mdx
  src/components/TextOverFullWidthAsset/TextOverFullWidthAsset.stories.mdx
  src/components/Transition/Transition.stories.mdx
  src/components/TwoColumnLayout/TwoColumnLayout.stories.mdx
  src/compositions/DynamicForm/DynamicForm.stories.mdx
  src/compositions/NewsletterSignUp/NewsletterSignUp.stories.mdx
  src/compositions/ProductDetail/ProductDetail.stories.mdx
  src/contexts/ThemeContext/ThemeContext.stories.mdx
Due: none

chore: update readme and add component generator instructions
  README.md
Due: prettier --write

chore: add back ci command reference
  README.md
Due: prettier --write

chore: correct heading level
  README.md
Due: prettier --write

chore: improve bash command variable readability
  scripts/componentBoilerplate/assets/Component.fixture.ts
  scripts/componentBoilerplate/assets/Component.spec.tsx
  scripts/componentBoilerplate/assets/Component.stories.mdx
  scripts/componentBoilerplate/assets/Component.tsx
  scripts/componentBoilerplate/assets/Component.types.ts
  scripts/componentBoilerplate/assets/ComponentRef.tsx
  scripts/componentBoilerplate/assets/ComponentRef.types.ts
  scripts/componentBoilerplate/assets/index.ts
  scripts/componentBoilerplate/create.sh
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: add explicit import path back
  README.md
Due: prettier --write

chore: add task examples
  README.md
Due: prettier --write

feat(con-460): migrate stor detail to typescript
  src/components/DoubleMedia/components/MediaBlock/MediaBlock.types.ts
  src/compositions/StoreDetail/StoreDetail.fixture.ts
  src/compositions/StoreDetail/StoreDetail.module.css
  src/compositions/StoreDetail/StoreDetail.stories.mdx
  src/compositions/StoreDetail/StoreDetail.tsx
  src/compositions/StoreDetail/StoreDetail.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix --allow-empty-input

feat(con-452): migrate contentful hub article to typescript
  src/components/ContentHubArticle/ContentHubArticle.fixture.ts
  src/components/ContentHubArticle/ContentHubArticle.spec.tsx
  src/components/ContentHubArticle/ContentHubArticle.stories.mdx
  src/components/ContentHubArticle/ContentHubArticle.tsx
  src/components/ContentHubArticle/ContentHubArticle.types.ts
  src/components/ContentHubArticle/__snapshots__/ContentHubArticle.spec.js.snap
  src/components/ContentHubArticle/index.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: correct linting issue
  src/compositions/StoreDetail/StoreDetail.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: remove theme
  src/compositions/StoreDetail/StoreDetail.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.64 [skip ci]
  dist/components/ContentHubArticle/index.js
  dist/components/ReadMore/index.js
  dist/index.cjs.js
  dist/index.esm.js
  dist/sharedChunks/ContentHubArticle.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: tidy up double media component
  src/components/DoubleMedia/components/MediaBlock/MediaBlock.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.65 [skip ci]
  dist/compositions/StoreDetail/index.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: build dist
  dist/components/ContentHubArticle/index.d.ts
  dist/compositions/StoreDetail/index.d.ts
  dist/sharedChunks/Component.types.d.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-466): migrate content hub article list to typescript
  dist/components/ContentHubArticle/index.d.ts
  dist/components/ContentHubArticleList/index.d.ts
  dist/components/ContentHubArticleList/index.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/ContentHubArticle.types.d.ts
  src/components/ContentHubArticle/ContentHubArticle.types.ts
  src/components/ContentHubArticleList/ContentHubArticleList.fixture.ts
  src/components/ContentHubArticleList/ContentHubArticleList.spec.js
  src/components/ContentHubArticleList/ContentHubArticleList.spec.tsx
  src/components/ContentHubArticleList/ContentHubArticleList.stories.mdx
  src/components/ContentHubArticleList/ContentHubArticleList.tsx
  src/components/ContentHubArticleList/ContentHubArticleList.types.ts
  src/components/ContentHubArticleList/__snapshots__/ContentHubArticleList.spec.js.snap
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-466): add prop comment back
  src/components/ContentHubArticleList/ContentHubArticleList.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.67 [skip ci]
  dist/components/DoubleMedia/index.js
  dist/compositions/StoreDetail/index.js
  dist/index.cjs.js
  dist/index.esm.js
  dist/sharedChunks/DoubleMedia.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

refactor(con-124_125): adjust naming and type definitions
  src/components/HeroBanner/HeroBanner.types.ts
  src/components/SubNav/SubNav.tsx
  src/components/SubNav/SubNav.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-124_125): aupdate hero banner with fifty fifty and full width tracking
  package-lock.json
  src/components/HeroBanner/HeroBanner.types.ts
  src/components/HeroBanner/components/HeroBannerMedia/HeroBannerMedia.tsx
  src/components/HeroBanner/components/HeroBannerMedia/HeroBannerMedia.types.ts
  src/components/SubNav/SubNav.tsx
  src/components/SubNav/SubNav.types.ts
  src/components/SubNav/SubNav.utils.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.68 [skip ci]
  dist/components/HeroBanner/index.js
  dist/components/SubNav/index.js
  dist/index.cjs.js
  dist/index.esm.js
  dist/sharedChunks/Transition.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: rebuild and include .ts files
  dist/components/SubNav/index.d.ts
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/Transition.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: rebuild
  dist/components/Audio/index.js
  dist/components/DoubleMedia/index.d.ts
  dist/components/ProductAccordion/index.d.ts
  dist/components/ProductGridItem/index.js
  dist/components/SecondaryMessage/index.js
  dist/components/SubNav/index.d.ts
  dist/components/TwoColumnList/index.js
  dist/compositions/StoreDetail/index.js
  dist/contexts/AddToCartContext/index.d.ts
  dist/contexts/GoogleMapsContext/index.d.ts
  dist/contexts/LoadMoreContext/index.d.ts
  dist/contexts/NavBarThemeContext/index.d.ts
  dist/contexts/NotificationContext/index.d.ts
  dist/contexts/ProductDetailContext/index.d.ts
  dist/contexts/ThemeContext/index.d.ts
  dist/contexts/VariantSelectContext/index.d.ts
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/AddToCartContext.types.d.ts
  dist/sharedChunks/Component.types.d.ts
  dist/sharedChunks/GoogleMap.js
  dist/sharedChunks/ProductDetailHeader.js
  dist/sharedChunks/Transition.js
  dist/sharedChunks/VariantSelectContext.js
  src/components/DoubleMedia/components/MediaBlock/MediaBlock.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: add missing style + rebuild
  dist/components/SubNav/index.d.ts
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.d.ts
  dist/index.esm.js
  dist/index.esm.js.map
  dist/sharedChunks/MediaWithContent.js
  dist/sharedChunks/Transition.js
  src/components/MediaWithContent/MediaWithContent.tsx
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.69 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
  dist/sharedChunks/Transition.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.3.0-develop.70 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
  dist/sharedChunks/Transition.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: include all of dist in release
  .releaserc
Due: none

chore: rebuild
  dist/sharedChunks/Transition.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-468): xl breakpoint style for product accordion
  dist/styles.css
  src/components/ProductAccordion/components/ProductAccordionItem/ProductAccordionItem.module.css
Due: stylelint --fix --allow-empty-input

feat: re build
  dist/components/ProductAccordion/index.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: re build
  dist/sharedChunks/Transition.js
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: rebuild
  src/components/DoubleMedia/DoubleMedia.types.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: type definition variable name and remove unneeded return type
  src/components/Heading/Heading.types.ts
  src/components/SectionHeading/SectionHeading.utils.ts
  src/components/Select/Select.fixture.ts
Due: prettier --write, eslint --fix --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'
